project/resources/schema/cw.gen.api_common.data.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/api/common/data"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>

	<annotation>
		<documentation>data</documentation>
		<appinfo>
			<metadata>AVM Metadata</metadata>
			<created>Tue Aug 12 11:02:19 CST 2014</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="ID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  ID representing an object.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="cacheOptions">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Indicates the amount of cache to be used on API operations.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>cacheOptions</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="P">
				<annotation>
					<documentation>Partially Cached</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>No Cache</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Fully Cached</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="code">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="externalID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  ID used to identify an object in an external system.
&lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="externalIdentifierType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  An enumeration indicating the type of object for which the external
  identifier is for.
&lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="externalSystem">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  An enumeration to identify an external system.
&lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="faultType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Identifies the type of error occurred.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>faultType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="F">
				<annotation>
					<documentation>Fault</documentation>
				</annotation>
			</enumeration>
			<enumeration value="X">
				<annotation>
					<documentation>Exception</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation>Validation Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="W">
				<annotation>
					<documentation>Warning</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="iso3166">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  2 character code representing a country
&lt;/p&gt;</documentation>
			<appinfo>
				<label>ISO 3166 Country Codes</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="iso4217">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  3 characters currency code.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>ISO 4217 Currency Codes</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="iso6391">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  2 character language code.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>ISO 639-1 Language Codes</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="iso6392">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  2 character language code.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>ISO 639-2 Language Codes</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="mimeType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Content Type
&lt;/p&gt;</documentation>
			<appinfo>
				<label>mimeType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="path">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  path of validation error element
&lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="text">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  A generic data type for text.
&lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="timezone">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Code representing different timezones in the world
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Timezone</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="url">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  A generic data type for URL.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>url</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="config">
		<annotation>
			<documentation>Configuration</documentation>
		</annotation>
			<sequence>
				<element name="classicSearch" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="modernSearch" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="externalIdentifier">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  an object capturing information how its parent object is known by an
  external system
&lt;/p&gt;</documentation>
			<appinfo>
				<label>External Identifier</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="id" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="internalId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="externalId" minOccurs="0" maxOccurs="1" type="api_common.data:externalID"/>
						<element name="externalSystem" minOccurs="0" maxOccurs="1" type="api_common.data:externalSystem"/>
						<element name="primary" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="ownerType" minOccurs="0" maxOccurs="1" type="api_common.data:externalIdentifierType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<element name="fault">
		<complexType >
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of error messages
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Fault</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="message" minOccurs="0" maxOccurs="unbounded" type="api_common.data:message"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="message">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  This object captures information occured during a fault or exception.
&lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="api_common.data:code"/>
				<element name="text" minOccurs="0" maxOccurs="1" type="api_common.data:text"/>
				<element name="stack" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="api_common.data:faultType"/>
				<element name="name" minOccurs="0" maxOccurs="1" type="api_common.data:path"/>
				<element name="path" minOccurs="0" maxOccurs="1" type="api_common.data:path"/>
			</sequence>
		</complexType>

	<complexType name="object">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  This object should be used as the base for all objects
&lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="conflictResolution" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="objVisualKey" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="options" minOccurs="0" maxOccurs="1" type="api_common.data:objectOption"/>
			</sequence>
		</complexType>

	<complexType name="objectAttachment">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  This object captures required information about a file attached to some
  object.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>objectAttachment</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="attachmentId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="objectId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="createdDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
						<element name="mimeType" minOccurs="0" maxOccurs="1" type="api_common.data:mimeType"/>
						<element name="url" minOccurs="0" maxOccurs="1" type="api_common.data:url"/>
						<element name="fileName" minOccurs="0" maxOccurs="1" type="api_common.data:url"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="objectOption">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Supported options for API
&lt;/p&gt;</documentation>
			<appinfo>
				<label>objectOption</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="returnIdOnly" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="getVisualKey" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="getCompleteData" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="language" minOccurs="0" maxOccurs="1" type="api_common.data:iso6391"/>
				<element name="useCache" minOccurs="0" maxOccurs="1" type="api_common.data:cacheOptions"/>
				<element name="profileProvider" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
				<element name="enforceConflictDetection" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="skipValidation" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="objectSearch">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  This object should be used as the base for all containers of search
  criterions
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Object Search</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="maxRows" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="searchKey" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="reference">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  This object should be used as the base definition for for any reference.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Reference Object</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="refId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<!-- Documents -->

</schema>
