project/resources/schema/cw.gen.cwt_pcdd.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/templates/pcdd"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwt_pcdd="http://www.conceptwave.com/templates/pcdd"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>

	<annotation>
		<documentation>CWT Catalog Designer Data Dictionary</documentation>
		<appinfo>
			<metadata>AVM Metadata</metadata>
			<created>Tue Aug 12 11:02:19 CST 2014</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="Decimal10_2">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="10"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="Decimal1_0">
		<annotation>
			<documentation>Decimal1_0</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="1"/>
			<fractionDigits value="0"/>
		</restriction>
	</simpleType>

	<simpleType name="Decimal2_0">
		<annotation>
			<documentation>Decimal2_0</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="2"/>
			<fractionDigits value="0"/>
		</restriction>
	</simpleType>

	<simpleType name="Decimal4_0">
		<annotation>
			<documentation>Decimal4_0</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="4"/>
			<fractionDigits value="0"/>
		</restriction>
	</simpleType>

	<simpleType name="Decimal5_2">
		<annotation>
			<documentation>Decimal5_2</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="5"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="URL">
		<annotation>
			<documentation>URL</documentation>
		</annotation>
		<restriction base="cwf:anyURI">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="accessoryType">
		<annotation>
			<documentation>Accessory Type</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="action">
		<annotation>
			<documentation>action</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
			<enumeration value="VIEW">
				<annotation>
					<documentation>View</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EDT">
				<annotation>
					<documentation>Edit</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ACT">
				<annotation>
					<documentation>Activate</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="amount">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="10"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="amountOrPercentage">
		<annotation>
			<documentation>amountOrPercentage</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="A">
				<annotation>
					<documentation>Amount</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Percentage</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="attachmentCategory">
		<annotation>
			<documentation>Attachment Category</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="attrLength">
		<annotation>
			<documentation>attrLength</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="attrName">
		<annotation>
			<documentation>Attribute Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="attrPrecision">
		<annotation>
			<documentation>attrPrecision</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="attrRestriction">
		<annotation>
			<documentation>Attribute Restriction</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="attrRestrictionRef">
		<annotation>
			<documentation>Attribute Restriction (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="attrSelection">
		<annotation>
			<documentation>Attribute Selection</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="C">
				<annotation>
					<documentation>Catalog Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>System Attribute</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="attrType">
		<annotation>
			<documentation>Attribute Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="3">
				<annotation>
					<documentation>String</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Boolean</documentation>
				</annotation>
			</enumeration>
			<enumeration value="0">
				<annotation>
					<documentation>Number</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>Code Table</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Date</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="attrValue">
		<annotation>
			<documentation>Attribute Value</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="attrValue4000">
		<annotation>
			<documentation>Attribute Value</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="attrValueType">
		<annotation>
			<documentation>Attribute Value Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="I">
				<annotation>
					<documentation>Intersection</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Difference</documentation>
				</annotation>
			</enumeration>
			<enumeration value="T">
				<annotation>
					<documentation>Code Table</documentation>
					<appinfo>
						<active>false</active>
					</appinfo>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="attributeDefaultValue">
		<annotation>
			<documentation>attributeDefaultValue</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2048"/>
		</restriction>
	</simpleType>

	<simpleType name="attributeRef">
		<annotation>
			<documentation>Attribute (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="autoPrice">
		<annotation>
			<documentation>Auto Price</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="availabilityNodeRelationType">
		<annotation>
			<documentation>availabilityNodeRelationType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
			<enumeration value="NodeLink">
				<annotation>
					<documentation>Node Link Relation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Include">
				<annotation>
					<documentation>Included Relation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Exclude">
				<annotation>
					<documentation>Excluded Relation</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="booleanWithAll">
		<annotation>
			<documentation>booleanWithAll</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>False</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>True</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>All</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="booleanWithNull">
		<annotation>
			<documentation>booleanWithNull</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>False</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>True</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Null</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="businessDateType">
		<annotation>
			<documentation>businessDateType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
			<enumeration value="startDate">
				<annotation>
					<documentation>Start Date</documentation>
				</annotation>
			</enumeration>
			<enumeration value="endDate">
				<annotation>
					<documentation>End Date</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="businessDatesValueLeafName">
		<annotation>
			<documentation>businessDatesValueLeafName</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="catHierarchyRef">
		<annotation>
			<documentation>Catalog Hierarchy (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="catalogCode">
		<annotation>
			<documentation>Catalog Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="catalogDate">
		<annotation>
			<documentation>Catalog Date</documentation>
		</annotation>
		<restriction base="cwf:date">
		</restriction>
	</simpleType>

	<simpleType name="catalogDateSec">
		<annotation>
			<documentation>Catalog Date (Seconds)</documentation>
		</annotation>
		<restriction base="cwf:dateTimeSec">
		</restriction>
	</simpleType>

	<simpleType name="catalogId">
		<annotation>
			<documentation>Catalog Id</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="catalogObjectType">
		<annotation>
			<documentation>Catalog Object Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
			<enumeration value="attribute">
				<annotation>
					<documentation>Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="infoModel">
				<annotation>
					<documentation>Info Model</documentation>
				</annotation>
			</enumeration>
			<enumeration value="chargeType">
				<annotation>
					<documentation>Charge Type</documentation>
				</annotation>
			</enumeration>
			<enumeration value="catalogRule">
				<annotation>
					<documentation>Catalog Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="relationType">
				<annotation>
					<documentation>RelationType</documentation>
				</annotation>
			</enumeration>
			<enumeration value="tax">
				<annotation>
					<documentation>Tax</documentation>
				</annotation>
			</enumeration>
			<enumeration value="context">
				<annotation>
					<documentation>Context</documentation>
				</annotation>
			</enumeration>
			<enumeration value="project">
				<annotation>
					<documentation>Project</documentation>
				</annotation>
			</enumeration>
			<enumeration value="catalogHierarchy">
				<annotation>
					<documentation>Catalog Hierarchy</documentation>
				</annotation>
			</enumeration>
			<enumeration value="catalogDomain">
				<annotation>
					<documentation>Catalog Domain</documentation>
				</annotation>
			</enumeration>
			<enumeration value="item">
				<annotation>
					<documentation>Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemAttribute">
				<annotation>
					<documentation>Item Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemHierarchy">
				<annotation>
					<documentation>Item Hierarchy</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemRelation">
				<annotation>
					<documentation>Item Relation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemImage">
				<annotation>
					<documentation>Item Image</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemAttachment">
				<annotation>
					<documentation>Item Attachment</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemCharge">
				<annotation>
					<documentation>Item Charge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemRule">
				<annotation>
					<documentation>Item Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemDescription">
				<annotation>
					<documentation>Item Description</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemGroup">
				<annotation>
					<documentation>Item Group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemAction">
				<annotation>
					<documentation>Item Action</documentation>
				</annotation>
			</enumeration>
			<enumeration value="systemIdentifier">
				<annotation>
					<documentation>System Identifier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="infoTable">
				<annotation>
					<documentation>Info Table</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ctAttribute">
				<annotation>
					<documentation>Charge Type Attribue</documentation>
				</annotation>
			</enumeration>
			<enumeration value="versionCT">
				<annotation>
					<documentation>Version Code Table</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ictAttribute">
				<annotation>
					<documentation>Item Charge Type Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="requestWorkflow">
				<annotation>
					<documentation>Request Workflow Details</documentation>
				</annotation>
			</enumeration>
			<enumeration value="request">
				<annotation>
					<documentation>Request</documentation>
				</annotation>
			</enumeration>
			<enumeration value="requestAvailability">
				<annotation>
					<documentation>Request Availability</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemMSRule">
				<annotation>
					<documentation>Item Market Segment Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="itemBusinessDates">
				<annotation>
					<documentation>Item Business Dates</documentation>
				</annotation>
			</enumeration>
			<enumeration value="msDimension">
				<annotation>
					<documentation>Market Segment Dimension</documentation>
				</annotation>
			</enumeration>
			<enumeration value="dateDefinition">
				<annotation>
					<documentation>Business Date Definition</documentation>
				</annotation>
			</enumeration>
			<enumeration value="dateModel">
				<annotation>
					<documentation>Business Date Model</documentation>
				</annotation>
			</enumeration>
			<enumeration value="projectAssignment">
				<annotation>
					<documentation>Project Assignment</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="catalogRuleRef">
		<annotation>
			<documentation>catalogRuleRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="catalogRuleVersionRef">
		<annotation>
			<documentation>catalogRuleVersionRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="catalogType">
		<annotation>
			<documentation>Catalog Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
			<enumeration value="cwt_pc:cwt_attribute">
				<annotation>
					<documentation>Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_catalogRule">
				<annotation>
					<documentation>Catalog Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_catalogRuleVersion">
				<annotation>
					<documentation>Catalog Rule Version</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_ruleParameters">
				<annotation>
					<documentation>Rule Parameters</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_infoModel">
				<annotation>
					<documentation>Info Model</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_infoModelVersion">
				<annotation>
					<documentation>Info Model Version</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_infoModelAttribute">
				<annotation>
					<documentation>Info Model Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_chargeType">
				<annotation>
					<documentation>Charge Type</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_chargeTypeVersion">
				<annotation>
					<documentation>Charge Type Version</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_relationType">
				<annotation>
					<documentation>Relation Type</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_chargeTypeAttribute">
				<annotation>
					<documentation>Charge Type Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_tax">
				<annotation>
					<documentation>Tax</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_taxVersion">
				<annotation>
					<documentation>Tax Version</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_taxModel">
				<annotation>
					<documentation>Tax Model</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_taxModelVersion">
				<annotation>
					<documentation>Tax Model Version</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_taxModelItem">
				<annotation>
					<documentation>Tax Model Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_project">
				<annotation>
					<documentation>Project</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_projectAssignment">
				<annotation>
					<documentation>Project Assignment</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_catalogHierarchy">
				<annotation>
					<documentation>Catalog Hierarchy</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemHierarchy">
				<annotation>
					<documentation>Item Hierarchy</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_item">
				<annotation>
					<documentation>Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemAttribute">
				<annotation>
					<documentation>Item Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemRelation">
				<annotation>
					<documentation>Item Relation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_relationAttribute">
				<annotation>
					<documentation>Relation Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemImage">
				<annotation>
					<documentation>Item Image</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemAttachment">
				<annotation>
					<documentation>Item Attachment</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemChargeVersion">
				<annotation>
					<documentation>Item Charge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemChargeTypeAttribute">
				<annotation>
					<documentation>Item Charge Type Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemRule">
				<annotation>
					<documentation>Item Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemDescription">
				<annotation>
					<documentation>Item Description</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_systemIdentifier">
				<annotation>
					<documentation>System Identifier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_context">
				<annotation>
					<documentation>Context</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_contextAttribute">
				<annotation>
					<documentation>Context Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemGroup">
				<annotation>
					<documentation>Item Group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_groupTarget">
				<annotation>
					<documentation>Group Target</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_infoTable">
				<annotation>
					<documentation>Info Table</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_relationTypeAttribute">
				<annotation>
					<documentation>Relation Type Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_restriction">
				<annotation>
					<documentation>Restriction</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_catalogDomain">
				<annotation>
					<documentation>Catalog Domain</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_restrictionProperty">
				<annotation>
					<documentation>Restriction Property</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemNew">
				<annotation>
					<documentation>Items</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_versionCodeTable">
				<annotation>
					<documentation>Versioned Code Table</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemMarketSegmentRule">
				<annotation>
					<documentation>Item MarketSegment Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_itemBusinessDatesVersion">
				<annotation>
					<documentation>Item Business Dates</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_marketSegmentDimensions">
				<annotation>
					<documentation>Market Segment Dimension</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_businessDateDefinition">
				<annotation>
					<documentation>Business Date Definition</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_businessDateModel">
				<annotation>
					<documentation>Business Dates Model</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwt_pc:cwt_businessDateModelDates">
				<annotation>
					<documentation>Business Dates Model Date</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="category">
		<annotation>
			<documentation>category</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="Attachment">
				<annotation>
					<documentation>Attachment</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Description">
				<annotation>
					<documentation>Description</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Group">
				<annotation>
					<documentation>Group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Image">
				<annotation>
					<documentation>Image</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Item">
				<annotation>
					<documentation>Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Rule">
				<annotation>
					<documentation>Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ItemAttribute">
				<annotation>
					<documentation>Item Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RelationAttr">
				<annotation>
					<documentation>Relation Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Price">
				<annotation>
					<documentation>Price</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Restriction">
				<annotation>
					<documentation>Restriction</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ChargeTypeDesc">
				<annotation>
					<documentation>Charge Type Description</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="changeAction">
		<annotation>
			<documentation>Change Action</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="ADD">
				<annotation>
					<documentation>Add</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DEL">
				<annotation>
					<documentation>Delete</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="changeOperation">
		<annotation>
			<documentation>Change Operation</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="Upd">
				<annotation>
					<documentation>Updated</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Add">
				<annotation>
					<documentation>Added</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Del">
				<annotation>
					<documentation>Deleted</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="charge">
		<annotation>
			<documentation>Charge</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="14"/>
			<fractionDigits value="4"/>
			<minInclusive value="0.0"/>
		</restriction>
	</simpleType>

	<simpleType name="chargeFrequency">
		<annotation>
			<documentation>Charge Frequency</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="M">
				<annotation>
					<documentation>Monthly</documentation>
				</annotation>
			</enumeration>
			<enumeration value="O">
				<annotation>
					<documentation>One Time</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="chargeTypeCode">
		<annotation>
			<documentation>chargeTypeCode</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="chargeTypeRef">
		<annotation>
			<documentation>Charge Type (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="chargeTypeType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
			<enumeration value="CHAG">
				<annotation>
					<documentation>Charge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DISC">
				<annotation>
					<documentation>Discount</documentation>
				</annotation>
			</enumeration>
			<enumeration value="COST">
				<annotation>
					<documentation>Cost</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="chargeTypeVersionRef">
		<annotation>
			<documentation>chargeTypeVersionRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="classification">
		<annotation>
			<documentation>&lt;table class=&#34;width100&#34; cellspacing=&#34;1&#34;&gt;
  &lt;tr class=&#34;row-2&#34;&gt;
    &lt;td colspan=&#34;5&#34;&gt;
      Classfication for Item, Attribute, Image and Description
    &lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</documentation>
			<appinfo>
				<label>Classification Types</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="classificationTypes">
		<annotation>
			<documentation>classificationTypes</documentation>
		</annotation>
		<restriction base="cwt_pcdd:classification">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="compName">
		<annotation>
			<documentation>Component Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="componentAttrAllRef">
		<annotation>
			<documentation>Component Attribute All (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="componentAttrRef">
		<annotation>
			<documentation>Component Attribute (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="componentGroupRef">
		<annotation>
			<documentation>Component Group (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="componentRef">
		<annotation>
			<documentation>Component (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="componentSelection">
		<annotation>
			<documentation>Component Selection</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>At least</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Exactly</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>At most</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="contextAttributeRef">
		<annotation>
			<documentation>contextAttributeRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="contextRef">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="coupon">
		<annotation>
			<documentation>Coupon</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="cwtct_chargeFrequency">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="cwtct_itemType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="dbMappingName">
		<annotation>
			<documentation>Database Mapping Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="decimal13_4">
		<annotation>
			<documentation>Decimal13_4</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="13"/>
			<fractionDigits value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="defaultValue">
		<annotation>
			<documentation>defaultValue</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="dependentProdRef">
		<annotation>
			<documentation>Dependent Product (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="66"/>
		</restriction>
	</simpleType>

	<simpleType name="description">
		<annotation>
			<documentation>Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="descriptionNoTranslation">
		<annotation>
			<documentation>Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="discountProductsRef">
		<annotation>
			<documentation>Discount Product (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="discountType">
		<annotation>
			<documentation>Discount Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="A">
				<annotation>
					<documentation>Amount</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Percentage</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Coupon</documentation>
				</annotation>
			</enumeration>
			<enumeration value="T">
				<annotation>
					<documentation>Charge Type</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Formula</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="docId32">
		<annotation>
			<documentation>docId32</documentation>
		</annotation>
		<restriction base="cwf:cwDocId">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="docKey">
		<annotation>
			<documentation>docKey</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="domains">
		<annotation>
			<documentation>Domains</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="duplicateLabelCounter">
		<annotation>
			<documentation>Duplicate Label Counter</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="endDate">
		<annotation>
			<documentation>End Date</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
			<pattern value="MM/dd/yyyy HH"/>
		</restriction>
	</simpleType>

	<simpleType name="exportType">
		<annotation>
			<documentation>exportType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="entire">
				<annotation>
					<documentation>Entire</documentation>
				</annotation>
			</enumeration>
			<enumeration value="item">
				<annotation>
					<documentation>Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="hierarchy">
				<annotation>
					<documentation>Hierarchy</documentation>
				</annotation>
			</enumeration>
			<enumeration value="project">
				<annotation>
					<documentation>Project</documentation>
				</annotation>
			</enumeration>
			<enumeration value="infoTable">
				<annotation>
					<documentation>InfoTable</documentation>
				</annotation>
			</enumeration>
			<enumeration value="sql_entire">
				<annotation>
					<documentation>SQL Entire</documentation>
				</annotation>
			</enumeration>
			<enumeration value="sql_item">
				<annotation>
					<documentation>SQL Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="sql_hierarchy">
				<annotation>
					<documentation>SQL Hierarchy</documentation>
				</annotation>
			</enumeration>
			<enumeration value="sql_project">
				<annotation>
					<documentation>SQL Project</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="featureRef">
		<annotation>
			<documentation>Feature (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="featureType">
		<annotation>
			<documentation>Feature Type</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="fileName">
		<annotation>
			<documentation>File Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="formula">
		<annotation>
			<documentation>formula</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="groupProductComponentRef">
		<annotation>
			<documentation>Group Product Component (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="groupTargetRef">
		<annotation>
			<documentation>groupTargetRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="groupType">
		<annotation>
			<documentation>groupType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="IG">
				<annotation>
					<documentation>Item Group</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AG">
				<annotation>
					<documentation>Association Group</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="hierarchyName">
		<annotation>
			<documentation>Hierarchy Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="hierarchyPath">
		<annotation>
			<documentation>Hierarchy Path</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="hierarchyRef">
		<annotation>
			<documentation>Hierarchy Reference</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="html">
		<annotation>
			<documentation>HTML</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4096"/>
		</restriction>
	</simpleType>

	<simpleType name="imageSize">
		<annotation>
			<documentation>imageSize</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="N">
				<annotation>
					<documentation>Normal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="L">
				<annotation>
					<documentation>Large</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="implementationType">
		<annotation>
			<documentation>implementationType</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="inexclude">
		<annotation>
			<documentation>inexclude</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Exclude</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Include</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="infoModelAttributeRef">
		<annotation>
			<documentation>infoModelAttributeRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="infoModelRef">
		<annotation>
			<documentation>infoModel (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="infoTableRef">
		<annotation>
			<documentation>infoTableRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="instance">
		<annotation>
			<documentation>Instance</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="itemActionRef">
		<annotation>
			<documentation>itemActionRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemAllRef">
		<annotation>
			<documentation>itemRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemAttachmentRef">
		<annotation>
			<documentation>Item Attachment (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemAttrSearchCriteria">
		<annotation>
			<documentation>itemAttrSearchCriteria</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="itemAttributeDefaultValue">
		<annotation>
			<documentation>itemAttributeDefaultValue</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2048"/>
		</restriction>
	</simpleType>

	<simpleType name="itemAttributeRef">
		<annotation>
			<documentation>itemAttributeRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemChargeRef">
		<annotation>
			<documentation>itemCharge (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemChargeType">
		<annotation>
			<documentation>itemChargeType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="item">
				<annotation>
					<documentation>Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="association">
				<annotation>
					<documentation>Association</documentation>
				</annotation>
			</enumeration>
			<enumeration value="group">
				<annotation>
					<documentation>Group</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="itemDescriptionRef">
		<annotation>
			<documentation>itemDescriptionRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemGroupRef">
		<annotation>
			<documentation>itemGroupRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemHierarchyRef">
		<annotation>
			<documentation>itemHierarchyRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemIdentifierRef">
		<annotation>
			<documentation>Item Identifier(Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemImageRef">
		<annotation>
			<documentation>Item Image (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemRef">
		<annotation>
			<documentation>itemRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemRelationRef">
		<annotation>
			<documentation>itemRelationRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemRuleRef">
		<annotation>
			<documentation>itemRuleRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="itemType">
		<annotation>
			<documentation>Item Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
			<enumeration value="COMP">
				<annotation>
					<documentation>Component</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PROD">
				<annotation>
					<documentation>Product</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OFF">
				<annotation>
					<documentation>Offer</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="itemTypeRef">
		<annotation>
			<documentation>itemTypeRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="key">
		<annotation>
			<documentation>key</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="label">
		<annotation>
			<documentation>Label</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="labelNoTranslation">
		<annotation>
			<documentation>Label - no Translation</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="language">
		<annotation>
			<documentation>Language</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="leafName">
		<annotation>
			<documentation>leafName</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="level">
		<annotation>
			<documentation>level</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="manufacturer">
		<annotation>
			<documentation>Manufacturer</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="marketSegmentLeafName">
		<annotation>
			<documentation>marketSegmentLeafName</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="markup">
		<annotation>
			<documentation>Markup</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="5"/>
			<fractionDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="messageCode">
		<annotation>
			<documentation>Message Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="metaAttributeRef">
		<annotation>
			<documentation>Meta Attribute (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="38"/>
		</restriction>
	</simpleType>

	<simpleType name="metaGUID">
		<annotation>
			<documentation>Meta GUID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="38"/>
		</restriction>
	</simpleType>

	<simpleType name="metaLabel">
		<annotation>
			<documentation>Meta Label</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="metaName">
		<annotation>
			<documentation>Meta Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="metaScriptRef">
		<annotation>
			<documentation>Meta Script (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="38"/>
		</restriction>
	</simpleType>

	<simpleType name="modelAttrRef">
		<annotation>
			<documentation>Model Attribute (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="msRuleOperator">
		<annotation>
			<documentation>msRuleOperator</documentation>
		</annotation>
		<restriction base="cwt_pcdd:string10">
			<enumeration value="include">
				<annotation>
					<documentation>Include</documentation>
				</annotation>
			</enumeration>
			<enumeration value="exclude">
				<annotation>
					<documentation>Exclude</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="oCategory">
		<annotation>
			<documentation>Offer Category</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="oFamily">
		<annotation>
			<documentation>Offer Family</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="objectRuleRef">
		<annotation>
			<documentation>Object Rule (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="objectType">
		<annotation>
			<documentation>Object Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="Attribute">
				<annotation>
					<documentation>Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CatalogRule">
				<annotation>
					<documentation>CatalogRule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Tax">
				<annotation>
					<documentation>Tax</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TaxModel">
				<annotation>
					<documentation>TaxModel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Item">
				<annotation>
					<documentation>Item</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ChargeType">
				<annotation>
					<documentation>ChargeType</documentation>
				</annotation>
			</enumeration>
			<enumeration value="InfoModel">
				<annotation>
					<documentation>InfoModel</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Discount">
				<annotation>
					<documentation>Discount</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RelationType">
				<annotation>
					<documentation>RelationType</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ItemRelation">
				<annotation>
					<documentation>Item Relation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Restriction">
				<annotation>
					<documentation>Restriction</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ItemAttribute">
				<annotation>
					<documentation>Item Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CatalogHierarchy">
				<annotation>
					<documentation>Catalog Hierarchy</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ItemCharge">
				<annotation>
					<documentation>Item Charge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CTAttribute">
				<annotation>
					<documentation>Charge Type Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ICTAttribute">
				<annotation>
					<documentation>Item Charge Type Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ItemMSRule">
				<annotation>
					<documentation>Item Market Segment Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ItBusinessDates">
				<annotation>
					<documentation>Item Business Dates</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="offerMasterRef">
		<annotation>
			<documentation>Offer Master (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="offerProductRef">
		<annotation>
			<documentation>Offer Product (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="offerRed">
		<annotation>
			<documentation>Offer (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="offerRelationType">
		<annotation>
			<documentation>Offer Relation Type</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="offerVersionRef">
		<annotation>
			<documentation>Offer Versions (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="orderItemAction">
		<annotation>
			<documentation>orderItemAction</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="orderType">
		<annotation>
			<documentation>orderType</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="orgChartDescription">
		<annotation>
			<documentation>orgChartDescription</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="orgChartName">
		<annotation>
			<documentation>orgChartName</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="permissionObjType">
		<annotation>
			<documentation>permissionObjType</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="priceModelChargeTypeInclBaseRef">
		<annotation>
			<documentation>Price Model Charge Type Reference (Includes Base)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="priceModelChargeTypeRef">
		<annotation>
			<documentation>Price Model Charge Type (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="priceModelRef">
		<annotation>
			<documentation>Price Model (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="priceModelType">
		<annotation>
			<documentation>Price Model Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="D">
				<annotation>
					<documentation>Default</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Custom</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="priceType">
		<annotation>
			<documentation>Price Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="M">
				<annotation>
					<documentation>Monthly Recurring Charge</documentation>
				</annotation>
			</enumeration>
			<enumeration value="O">
				<annotation>
					<documentation>One Time Charge</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="priceTypeCT">
		<annotation>
			<documentation>Price Type CT</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="priceVersionRef">
		<annotation>
			<documentation>Price Version (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="pricingType">
		<annotation>
			<documentation>Pricing Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="SD">
				<annotation>
					<documentation>Standard</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SP">
				<annotation>
					<documentation>Step</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="primProductCompRef">
		<annotation>
			<documentation>Product Component - Primitive Base (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="primitiveOfferProductRef">
		<annotation>
			<documentation>Offer Product - Primitive Base (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="primitivePriceModelChargeType">
		<annotation>
			<documentation>Primitive Price Model Charge Type (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="privateScript">
		<annotation>
			<documentation>Private Script</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="privilegeObjectType">
		<annotation>
			<documentation>privilegeObjectType</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="privileges">
		<annotation>
			<documentation>Privileges</documentation>
		</annotation>
		<restriction base="cwf:privilege">
			<enumeration value="cwpc_itemManager">
				<annotation>
					<documentation>Catalog Item Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_attrManager">
				<annotation>
					<documentation>Catalog Attribute Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_imManager">
				<annotation>
					<documentation>Catalog Info Model Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_chTyManager">
				<annotation>
					<documentation>Catalog Charge Type Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_asTyManager">
				<annotation>
					<documentation>Catalog Association Type Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_taxManager">
				<annotation>
					<documentation>Catalog Tax Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_cntManager">
				<annotation>
					<documentation>Catalog Context Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_projManager">
				<annotation>
					<documentation>Catalog Project Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_hierManager">
				<annotation>
					<documentation>Catalog Hierarchy Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_ruleManager">
				<annotation>
					<documentation>Catalog Rule Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iAttManager">
				<annotation>
					<documentation>Catalog Item Attribute Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iHirManager">
				<annotation>
					<documentation>Catalog Item Hierarchy Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iRltManager">
				<annotation>
					<documentation>Catalog Item Relation Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iImgManager">
				<annotation>
					<documentation>Catalog Item Image Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iAchManager">
				<annotation>
					<documentation>Catalog Item Attachment Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iCrgManager">
				<annotation>
					<documentation>Catalog Item Charge Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iRleManager">
				<annotation>
					<documentation>Catalog Item Rule Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iDscManager">
				<annotation>
					<documentation>Catalog Item Description Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iActManager">
				<annotation>
					<documentation>Catalog Item Action Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iGrpManager">
				<annotation>
					<documentation>Catalog Item Group Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_sysIManager">
				<annotation>
					<documentation>Catalog System Identifier Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_Manager">
				<annotation>
					<documentation>Catalog Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_itManager">
				<annotation>
					<documentation>Catalog Info Table Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_admin">
				<annotation>
					<documentation>Catalog Management Administrator</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_VCTManager">
				<annotation>
					<documentation>Catalog Version Code Table Manger</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_BDManager">
				<annotation>
					<documentation>Business Dates Configuration Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_MSDManager">
				<annotation>
					<documentation>Market Segment Dimensions Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iBDManager">
				<annotation>
					<documentation>Catalog Item Business Dates Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="cwpc_iMSManager">
				<annotation>
					<documentation>Catalog Item Market Segment Rule Manager</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="prodVersionRef">
		<annotation>
			<documentation>Product Version (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productAttrRef">
		<annotation>
			<documentation>Product Attribute (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productCategory">
		<annotation>
			<documentation>Product Category</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="productCodeRef">
		<annotation>
			<documentation>Product Code (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productCompRef">
		<annotation>
			<documentation>Product Component (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productComponentGroupRef">
		<annotation>
			<documentation>Product Component Group (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productComponentPriceModelChargeTypeRef">
		<annotation>
			<documentation>Product Component Price Model Charge Type (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productFamily">
		<annotation>
			<documentation>Product Family</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="productFeatureRef">
		<annotation>
			<documentation>Product Feature (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="66"/>
		</restriction>
	</simpleType>

	<simpleType name="productHierarchyRef">
		<annotation>
			<documentation>Product Hierarchy (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="66"/>
		</restriction>
	</simpleType>

	<simpleType name="productMasterRef">
		<annotation>
			<documentation>Product Master (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productRef">
		<annotation>
			<documentation>OBSOLETE Product (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="productRelationType">
		<annotation>
			<documentation>Product Relation Type</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="projectAssignmentRef">
		<annotation>
			<documentation>Project Assignment (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="66"/>
		</restriction>
	</simpleType>

	<simpleType name="projectObjectType">
		<annotation>
			<documentation>projectObjectType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="OFFER">
				<annotation>
					<documentation>Offer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PROJECT">
				<annotation>
					<documentation>Project</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ATTRIBUTE">
				<annotation>
					<documentation>Attribute</documentation>
				</annotation>
			</enumeration>
			<enumeration value="COMPONENT">
				<annotation>
					<documentation>Component</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="projectRef">
		<annotation>
			<documentation>Project</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="projectState">
		<annotation>
			<documentation>Project State (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="projectStateEnum">
		<annotation>
			<documentation>projectStateEnum</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="DEF">
				<annotation>
					<documentation>Definition</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RDY">
				<annotation>
					<documentation>Ready</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DSG">
				<annotation>
					<documentation>Design</documentation>
				</annotation>
			</enumeration>
			<enumeration value="APR">
				<annotation>
					<documentation>Approval</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ACT">
				<annotation>
					<documentation>Active</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ARC">
				<annotation>
					<documentation>Archive</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REV">
				<annotation>
					<documentation>Review</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TST">
				<annotation>
					<documentation>Testing</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="projectType">
		<annotation>
			<documentation>Project Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
			<enumeration value="correction">
				<annotation>
					<documentation>Correction</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="quantity">
		<annotation>
			<documentation>Quantity</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="12"/>
			<fractionDigits value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="rankingValue">
		<annotation>
			<documentation>Ranking Value</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refType">
		<annotation>
			<documentation>Ref Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="relatedOfferRef">
		<annotation>
			<documentation>Related Offer (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="relatedProdRef">
		<annotation>
			<documentation>Related Product (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="relationCode">
		<annotation>
			<documentation>Relation Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="relationType">
		<annotation>
			<documentation>Relation Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="DEP">
				<annotation>
					<documentation>Dependent</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EXC">
				<annotation>
					<documentation>Excluded</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REL">
				<annotation>
					<documentation>Related</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="relationTypeAttributeRef">
		<annotation>
			<documentation>relationTypeAttributeRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="relationTypeBusiness">
		<annotation>
			<documentation>Business Relation Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="relationTypeRef">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="relationTypeStructural">
		<annotation>
			<documentation>Structural Relation Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
			<enumeration value="Dependent">
				<annotation>
					<documentation>Dependent</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Excluded">
				<annotation>
					<documentation>Excluded</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Related">
				<annotation>
					<documentation>Related</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="resNum">
		<annotation>
			<documentation>resNum</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="restrictionDefaultValue">
		<annotation>
			<documentation>restrictionDefaultValue</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="restrictionRef">
		<annotation>
			<documentation>restrictionRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="restrictionScript">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  calculated scripts - do not used on mapped leaves
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Restriction Script</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8192"/>
		</restriction>
	</simpleType>

	<simpleType name="returnType">
		<annotation>
			<documentation>Return Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="S">
				<annotation>
					<documentation>String</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>Number</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation>Boolean</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Date</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ruleLanguage">
		<annotation>
			<documentation>ruleLanguage</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="CR">
				<annotation>
					<documentation>Catalog Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="42S">
				<annotation>
					<documentation>JavaScript</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ruleName">
		<annotation>
			<documentation>Rule Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="ruleParameterRef">
		<annotation>
			<documentation>ruleParameterRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="ruleRef">
		<annotation>
			<documentation>Rule (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="ruleScript">
		<annotation>
			<documentation>Rule Script</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2000"/>
		</restriction>
	</simpleType>

	<simpleType name="ruleType">
		<annotation>
			<documentation>Rule Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="V">
				<annotation>
					<documentation>Validation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Price</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Condition</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ruleTypeCT">
		<annotation>
			<documentation>Rule Type CT</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="ruleTypeThree">
		<annotation>
			<documentation>Rule Type (Three)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="C">
				<annotation>
					<documentation>Catalog Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>System Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Private Script</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ruleTypeTwo">
		<annotation>
			<documentation>Rule Type (Two)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="R">
				<annotation>
					<documentation>Catalog/System Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Private Rule</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="scriptType">
		<annotation>
			<documentation>Script Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="R">
				<annotation>
					<documentation>Catalog Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>System Rule</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Private Script</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="searchCriteriaKey">
		<annotation>
			<documentation>Search Criteria Key</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="95"/>
		</restriction>
	</simpleType>

	<simpleType name="searchCriteriaOperation">
		<annotation>
			<documentation>Search Criteria Operation</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
			<enumeration value="E">
				<annotation>
					<documentation>Equal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NE">
				<annotation>
					<documentation>Not Equal</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="searchCriteriaValue">
		<annotation>
			<documentation>Search Criteria Value</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="searchOpers">
		<annotation>
			<documentation>Search Operators</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="equal">
				<annotation>
					<documentation>equal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="not equal">
				<annotation>
					<documentation>not equal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="greater">
				<annotation>
					<documentation>greater</documentation>
				</annotation>
			</enumeration>
			<enumeration value="greater equal">
				<annotation>
					<documentation>greater equal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="less">
				<annotation>
					<documentation>less</documentation>
				</annotation>
			</enumeration>
			<enumeration value="less equal">
				<annotation>
					<documentation>less equal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="contains">
				<annotation>
					<documentation>contains</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ends with">
				<annotation>
					<documentation>ends with</documentation>
				</annotation>
			</enumeration>
			<enumeration value="starts with">
				<annotation>
					<documentation>starts with</documentation>
				</annotation>
			</enumeration>
			<enumeration value="like">
				<annotation>
					<documentation>like</documentation>
				</annotation>
			</enumeration>
			<enumeration value="in">
				<annotation>
					<documentation>in</documentation>
				</annotation>
			</enumeration>
			<enumeration value="not in">
				<annotation>
					<documentation>not in</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="selectedCode">
		<annotation>
			<documentation>Selected Code(Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="sequence">
		<annotation>
			<documentation>Sequence</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="sequence4_0">
		<annotation>
			<documentation>sequence4_0</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="4"/>
			<fractionDigits value="0"/>
		</restriction>
	</simpleType>

	<simpleType name="startDate">
		<annotation>
			<documentation>Start Date</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
			<pattern value="MM/dd/yyyy HH"/>
		</restriction>
	</simpleType>

	<simpleType name="status">
		<annotation>
			<documentation>Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="DEF">
				<annotation>
					<documentation>Definition</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ACT">
				<annotation>
					<documentation>Active</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="stepPricingType">
		<annotation>
			<documentation>Step Pricing Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="FR">
				<annotation>
					<documentation>Flat Rate</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FRB">
				<annotation>
					<documentation>Flat Rate Band</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation>Band</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Stepped</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string10">
		<annotation>
			<documentation>string10</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="string128">
		<annotation>
			<documentation>string128</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="string16">
		<annotation>
			<documentation>string16</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="string20">
		<annotation>
			<documentation>string20</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="string3">
		<annotation>
			<documentation>string3</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="string32">
		<annotation>
			<documentation>string32</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="string4">
		<annotation>
			<documentation>string4</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="string512">
		<annotation>
			<documentation>string512</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="string64">
		<annotation>
			<documentation>string64</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="string9">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="subAction">
		<annotation>
			<documentation>subAction</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="sysIdentifierValue">
		<annotation>
			<documentation>sysIdentifierValue</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="systemId">
		<annotation>
			<documentation>System ID</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="systemIdentiferRef">
		<annotation>
			<documentation>systemIdentifierRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="targetType">
		<annotation>
			<documentation>targetType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="12"/>
			<enumeration value="relation">
				<annotation>
					<documentation>Relation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="association">
				<annotation>
					<documentation>Association</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="taxModelItemRef">
		<annotation>
			<documentation>taxModelItemRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="taxModelItemType">
		<annotation>
			<documentation>taxModelItemType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
			<enumeration value="T">
				<annotation>
					<documentation>Tax</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TM">
				<annotation>
					<documentation>Tax Model</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="taxModelRef">
		<annotation>
			<documentation>taxModelRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="taxModelVersionRef">
		<annotation>
			<documentation>taxModelVersionRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="taxRef">
		<annotation>
			<documentation>Tax (Reference)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="taxVersionRef">
		<annotation>
			<documentation>taxVersionRef</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="title">
		<annotation>
			<documentation>Title</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="treeType">
		<annotation>
			<documentation>treeType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="C">
				<annotation>
					<documentation>Classification</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A">
				<annotation>
					<documentation>Availability</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="trueFalse">
		<annotation>
			<documentation>TrueFalse</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="value">
		<annotation>
			<documentation>value</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="version">
		<annotation>
			<documentation>Version</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="versionCommitDate">
		<annotation>
			<documentation>versionCommitDate</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="versionId">
		<annotation>
			<documentation>Version ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<!-- Documents -->

</schema>
