project/resources/schema/cw.gen.cwt_pcoeapi.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/templates/pcoeapi"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwt_pcoeapi="http://www.conceptwave.com/templates/pcoeapi"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwt_pcdd="http://www.conceptwave.com/templates/pcdd"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data">



	<import namespace="http://www.conceptwave.com/templates/pcdd" schemaLocation="cwt_pcdd.xsd"/>
	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="http://www.conceptwave.com/api/common/data" schemaLocation="api_common.data.xsd"/>

	<annotation>
		<documentation>CWT Catalog Designer Order Entry API</documentation>
		<appinfo>
			<metadata>AVM Metadata</metadata>
			<created>Tue Aug 12 11:02:19 CST 2014</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="browseOperation">
		<annotation>
			<documentation>browseOperation</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="24"/>
			<enumeration value="equals to">
				<annotation>
					<documentation>equals to</documentation>
				</annotation>
			</enumeration>
			<enumeration value="equals no case">
				<annotation>
					<documentation>equals no case</documentation>
				</annotation>
			</enumeration>
			<enumeration value="not equal">
				<annotation>
					<documentation>not equal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="not equal no case">
				<annotation>
					<documentation>not equal no case</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is greater than">
				<annotation>
					<documentation>is greater than</documentation>
				</annotation>
			</enumeration>
			<enumeration value="greater or equal to">
				<annotation>
					<documentation>greater or equal to</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is less than">
				<annotation>
					<documentation>is less than</documentation>
				</annotation>
			</enumeration>
			<enumeration value="less or equal to">
				<annotation>
					<documentation>less or equal to</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is one of">
				<annotation>
					<documentation>is one of</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is not one of">
				<annotation>
					<documentation>is not one of</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is one of no case">
				<annotation>
					<documentation>is one of no case</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is not one of no case">
				<annotation>
					<documentation>is not one of no case</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is like">
				<annotation>
					<documentation>is like</documentation>
				</annotation>
			</enumeration>
			<enumeration value="not like">
				<annotation>
					<documentation>not like</documentation>
				</annotation>
			</enumeration>
			<enumeration value="is like no case">
				<annotation>
					<documentation>is like no case</documentation>
				</annotation>
			</enumeration>
			<enumeration value="not like no case">
				<annotation>
					<documentation>not like no case</documentation>
				</annotation>
			</enumeration>
			<enumeration value="contains">
				<annotation>
					<documentation>contains</documentation>
				</annotation>
			</enumeration>
			<enumeration value="contains all">
				<annotation>
					<documentation>contains all</documentation>
				</annotation>
			</enumeration>
			<enumeration value="does not contain">
				<annotation>
					<documentation>does not contain</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="state">
		<annotation>
			<documentation>state</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="ADDED">
				<annotation>
					<documentation>Added</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REMOVED">
				<annotation>
					<documentation>Removed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EXISTING">
				<annotation>
					<documentation>Existing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CHANGED">
				<annotation>
					<documentation>Changed</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="type">
		<annotation>
			<documentation>type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="S">
				<annotation>
					<documentation>String</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>Number</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation>Boolean</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Date</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation>Code Table</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="addRequest">
		<annotation>
			<documentation>addRequest</documentation>
		</annotation>
			<sequence>
				<element name="itemCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="basket" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basket"/>
				<element name="parentItem" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basketItem"/>
				<element name="associationName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="date" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="context" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:context"/>
			</sequence>
		</complexType>

	<complexType name="attributeRestriction">
		<annotation>
			<documentation>attributeRestriction</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="defaultValue" minOccurs="0" maxOccurs="1" type="cwt_pcdd:itemAttributeDefaultValue"/>
				<element name="immutable" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="isNull" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="selected" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="itemRule" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemRule"/>
				<element name="codeTableRestriction" minOccurs="0" maxOccurs="1" type="cwt_pcdd:restrictionDefaultValue"/>
				<element name="properties" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:nameValuePair"/>
			</sequence>
		</complexType>

	<complexType name="attributeType">
		<annotation>
			<documentation>attributeType</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="length" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="precision" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="codeTable" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="basket">
		<annotation>
			<documentation>basket</documentation>
		</annotation>
			<sequence>
				<element name="basketInstance" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basketInstance"/>
				<element name="basketItemRelations" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basketItemRelations"/>
				<element name="basketItems" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basketItems"/>
			</sequence>
		</complexType>

	<complexType name="basketInstance">
		<annotation>
			<documentation>basketInstance</documentation>
		</annotation>
			<sequence>
				<element name="basketId" minOccurs="0" maxOccurs="1" type="cwf:cwDocId64"/>
				<element name="cwCreated" minOccurs="0" maxOccurs="1" type="cwf:cwCreated"/>
				<element name="cwCreatedBy" minOccurs="0" maxOccurs="1" type="cwf:cwCreatedBy"/>
				<element name="lastUpdatedDate" minOccurs="0" maxOccurs="1" type="cwf:lastUpdatedDate"/>
				<element name="updatedBy" minOccurs="0" maxOccurs="1" type="cwf:updatedBy"/>
				<element name="cwOrderId" minOccurs="0" maxOccurs="1" type="cwf:cwOrderId"/>
				<element name="state" minOccurs="0" maxOccurs="1" type="cwf:state"/>
			</sequence>
		</complexType>

	<complexType name="basketItem">
		<annotation>
			<documentation>basketItem</documentation>
		</annotation>
			<sequence>
				<element name="basketitemid" minOccurs="1" maxOccurs="1" type="cwt_pcdd:string16"/>
				<element name="basketid" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string10"/>
				<element name="itemcode" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string32"/>
				<element name="cwcreated" minOccurs="0" maxOccurs="1" type="cwf:cwCreated"/>
				<element name="cwcreatedby" minOccurs="0" maxOccurs="1" type="cwf:cwCreatedBy"/>
				<element name="lastupdateddate" minOccurs="0" maxOccurs="1" type="cwf:lastUpdatedDate"/>
				<element name="updatedby" minOccurs="0" maxOccurs="1" type="cwf:updatedBy"/>
				<element name="parentbasketitemid" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string16"/>
				<element name="relationname" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string32"/>
				<element name="sequenceno" minOccurs="0" maxOccurs="1" type="cwt_pcdd:sequence4_0"/>
				<element name="basketcreationdate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="requesttime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="state" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string16"/>
				<element name="basketItemCharges" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basketItemCharges"/>
				<element name="dynamicLeaves" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:dynamicLeaves"/>
			</sequence>
		</complexType>

	<complexType name="basketItemCharge">
		<annotation>
			<documentation>basketItemCharge</documentation>
		</annotation>
			<sequence>
				<element name="basketId" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string10"/>
				<element name="basketItemId" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string16"/>
				<element name="chargeTypeCode" minOccurs="0" maxOccurs="1" type="cwt_pcdd:chargeTypeCode"/>
				<element name="amount" minOccurs="0" maxOccurs="1" type="cwt_pcdd:amount"/>
				<element name="sequenceNo" minOccurs="0" maxOccurs="1" type="cwt_pcdd:Decimal4_0"/>
				<element name="currency" minOccurs="0" maxOccurs="1" type="api_common.data:iso4217"/>
				<element name="frequency" minOccurs="0" maxOccurs="1" type="cwt_pcdd:chargeFrequency"/>
				<element name="displayOnly" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="taxCode" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="cwt_pcdd:labelNoTranslation"/>
				<element name="cwCreated" minOccurs="0" maxOccurs="1" type="cwf:cwCreated"/>
				<element name="cwCreatedBy" minOccurs="0" maxOccurs="1" type="cwf:cwCreatedBy"/>
				<element name="lastUpdatedDate" minOccurs="0" maxOccurs="1" type="cwf:lastUpdatedDate"/>
				<element name="updatedBy" minOccurs="0" maxOccurs="1" type="cwf:updatedBy"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="cwt_pcdd:chargeTypeType"/>
			</sequence>
		</complexType>

	<complexType name="basketItemCharges">
		<annotation>
			<documentation>basketItemCharges</documentation>
		</annotation>
			<sequence>
				<element name="chargeType" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:basketItemCharge"/>
			</sequence>
		</complexType>

	<complexType name="basketItemRelation">
		<annotation>
			<documentation>basketItemRelation</documentation>
		</annotation>
			<sequence>
				<element name="basketItemIdFrom" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string16"/>
				<element name="basketItemIdTo" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string16"/>
				<element name="relationName" minOccurs="0" maxOccurs="1" type="cwt_pcdd:relationCode"/>
				<element name="basketId" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string10"/>
				<element name="cwCreated" minOccurs="0" maxOccurs="1" type="cwf:cwCreated"/>
				<element name="cwCreatedBy" minOccurs="0" maxOccurs="1" type="cwf:cwCreatedBy"/>
				<element name="lastUpdatedDate" minOccurs="0" maxOccurs="1" type="cwf:lastUpdatedDate"/>
				<element name="updatedBy" minOccurs="0" maxOccurs="1" type="cwf:updatedBy"/>
				<element name="basketItemRelationId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="basketItemRelations">
		<annotation>
			<documentation>basketItemRelations</documentation>
		</annotation>
			<sequence>
				<element name="basketItemRelation" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:basketItemRelation"/>
			</sequence>
		</complexType>

	<complexType name="basketItems">
		<annotation>
			<documentation>basketItems</documentation>
		</annotation>
			<sequence>
				<element name="basketItem" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:basketItem"/>
			</sequence>
		</complexType>

	<complexType name="browseCatalogRequest">
		<annotation>
			<documentation>browseCatalogRequest</documentation>
		</annotation>
			<sequence>
				<element name="hierarchyCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="depth" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="date" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="language" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="searchCriteria" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:searchCriteria"/>
				<element name="context" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:context"/>
				<element name="inventory" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:inventory"/>
			</sequence>
		</complexType>

	<complexType name="browseResponseItem">
		<annotation>
			<documentation>browseResponseItem</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="browseResponseItems">
		<annotation>
			<documentation>browseResponseItems</documentation>
		</annotation>
			<sequence>
				<element name="browseResponseItem" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:browseResponseItem"/>
			</sequence>
		</complexType>

	<complexType name="chargeType">
		<annotation>
			<documentation>chargeType</documentation>
		</annotation>
			<sequence>
				<element name="chargeTypeCode" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="currency" minOccurs="0" maxOccurs="1" type="api_common.data:iso4217"/>
				<element name="discountPercentage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="chargeFrequency" minOccurs="0" maxOccurs="1" type="cwt_pcdd:cwtct_chargeFrequency"/>
				<element name="stepPricingType" minOccurs="0" maxOccurs="1" type="cwt_pcdd:stepPricingType"/>
				<element name="chargeInfoTable" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="taxModel" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="formulaName" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="discountTargetCharge" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="amount" minOccurs="0" maxOccurs="1" type="cwt_pcdd:charge"/>
				<element name="displayOnly" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="cleanBasketRequest">
		<annotation>
			<documentation>cleanBasketRequest</documentation>
		</annotation>
			<sequence>
				<element name="basket" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basket"/>
			</sequence>
		</complexType>

	<complexType name="context">
		<annotation>
			<documentation>context</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="attributes" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:contextAttribute"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="contextAttribute">
		<annotation>
			<documentation>contextAttribute</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:type"/>
			</sequence>
		</complexType>

	<complexType name="contextRequest">
		<annotation>
			<documentation>contextRequest</documentation>
		</annotation>
			<sequence>
				<element name="contextCode" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
			</sequence>
		</complexType>

	<complexType name="dynamicLeaf">
		<annotation>
			<documentation>dynamicLeaf</documentation>
		</annotation>
			<sequence>
				<element name="leafName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="leafValue" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="dynamicLeaves">
		<annotation>
			<documentation>dynamicLeaves</documentation>
		</annotation>
			<sequence>
				<element name="dynamicLeaf" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:dynamicLeaf"/>
			</sequence>
		</complexType>

	<complexType name="fault">
		<annotation>
			<documentation>fault</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="message" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="getBasketRequest">
		<annotation>
			<documentation>getBasketRequest</documentation>
		</annotation>
			<sequence>
				<element name="basket" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basket"/>
			</sequence>
		</complexType>

	<complexType name="getItemRequest">
		<annotation>
			<documentation>getItemRequest</documentation>
		</annotation>
			<sequence>
				<element name="itemCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="date" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="language" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="context" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:context"/>
			</sequence>
		</complexType>

	<complexType name="groupTarget">
		<annotation>
			<documentation>groupTarget</documentation>
		</annotation>
			<sequence>
				<element name="targetType" minOccurs="0" maxOccurs="1" type="cwt_pcdd:targetType"/>
				<element name="targetName" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="targetItemCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="hierarchyNode">
		<annotation>
			<documentation>hierarchyNode</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="browseResponseItems" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:browseResponseItems"/>
				<element name="hierarchyNode" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:hierarchyNode"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="inventory">
		<annotation>
			<documentation>inventory</documentation>
		</annotation>
			<sequence>
				<element name="id" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="item">
		<annotation>
			<documentation>item</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="cwt_pcdd:cwtct_itemType"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="startDate" minOccurs="0" maxOccurs="1" type="cwt_pcdd:startDate"/>
				<element name="endDate" minOccurs="0" maxOccurs="1" type="cwt_pcdd:endDate"/>
				<element name="itemAttribute" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemAttribute"/>
				<element name="itemRelation" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemRelation"/>
				<element name="itemRule" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemRule"/>
				<element name="itemGroup" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemGroup"/>
				<element name="itemImage" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemImage"/>
				<element name="itemDescription" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemDescription"/>
				<element name="systemIdentifier" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:systemIdentifier"/>
				<element name="itemAttachment" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemAttachment"/>
				<element name="itemCharge" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemCharge"/>
				<element name="isOrderable" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="itemAttachment">
		<annotation>
			<documentation>itemAttachment</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="url" minOccurs="0" maxOccurs="1" type="cwt_pcdd:URL"/>
			</sequence>
		</complexType>

	<complexType name="itemAttribute">
		<annotation>
			<documentation>itemAttribute</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="defaultValue" minOccurs="0" maxOccurs="1" type="cwt_pcdd:defaultValue"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="attributeType" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:attributeType"/>
				<element name="attributeRestriction" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:attributeRestriction"/>
			</sequence>
		</complexType>

	<complexType name="itemCharge">
		<annotation>
			<documentation>itemCharge</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="chargeType" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:chargeType"/>
				<element name="targetChargeTypeCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="itemDescription">
		<annotation>
			<documentation>itemDescription</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
			</sequence>
		</complexType>

	<complexType name="itemGroup">
		<annotation>
			<documentation>itemGroup</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="minCardinality" minOccurs="0" maxOccurs="1" type="cwt_pcdd:instance"/>
				<element name="maxCardinality" minOccurs="0" maxOccurs="1" type="cwt_pcdd:instance"/>
				<element name="targets" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>targets</documentation>
					</annotation>
					<complexType>
						<complexContent>
							<extension base="cwt_pcoeapi:groupTarget">
								<sequence>
								</sequence>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="itemImage">
		<annotation>
			<documentation>itemImage</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="url" minOccurs="0" maxOccurs="1" type="cwt_pcdd:URL"/>
			</sequence>
		</complexType>

	<complexType name="itemRelation">
		<annotation>
			<documentation>itemRelation</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="target" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="minCardinality" minOccurs="0" maxOccurs="1" type="cwt_pcdd:instance"/>
				<element name="maxCardinality" minOccurs="0" maxOccurs="1" type="cwt_pcdd:instance"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="itemAttribute" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemAttribute"/>
				<element name="itemCharges" minOccurs="0" maxOccurs="1" type="anyType"/>
				<element name="attributeRestriction" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:attributeRestriction"/>
				<element name="itemRule" minOccurs="0" maxOccurs="unbounded" type="cwt_pcoeapi:itemRule"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="itemRule">
		<annotation>
			<documentation>itemRule</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:catalogCode"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="cwt_pcdd:relationTypeRef"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="messages">
		<annotation>
			<documentation>messages</documentation>
		</annotation>
			<sequence>
				<element name="message" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
				<element name="itemCode" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="nameValuePair">
		<annotation>
			<documentation>nameValuePair</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="priceBasketRequest">
		<annotation>
			<documentation>priceBasketRequest</documentation>
		</annotation>
			<sequence>
				<element name="basket" minOccurs="1" maxOccurs="1" type="cwt_pcoeapi:basket"/>
				<element name="date" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="context" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:context"/>
			</sequence>
		</complexType>

	<complexType name="queryResult">
		<annotation>
			<documentation>queryResult</documentation>
		</annotation>
			<sequence>
				<element name="resultTime" minOccurs="0" maxOccurs="1" type="xsd:date"/>
				<element name="queryType" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="fromNode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="hasPartialResults" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="hasErrors" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="error" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
				<element name="hierarchyNode" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:hierarchyNode"/>
			</sequence>
		</complexType>

	<complexType name="removeRequest">
		<annotation>
			<documentation>removeRequest</documentation>
		</annotation>
			<sequence>
				<element name="removeItem" minOccurs="1" maxOccurs="1" type="cwt_pcoeapi:basketItem"/>
				<element name="date" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="context" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:context"/>
				<element name="basket" minOccurs="0" maxOccurs="1" type="cwt_pcoeapi:basket"/>
			</sequence>
		</complexType>

	<complexType name="searchCriteria">
		<annotation>
			<documentation>searchCriteria</documentation>
		</annotation>
			<sequence>
				<element name="key" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="operation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="valueDateTime" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="valueBoolean" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="systemIdentifier">
		<annotation>
			<documentation>systemIdentifier</documentation>
		</annotation>
			<sequence>
				<element name="systemId" minOccurs="0" maxOccurs="1" type="cwt_pcdd:systemId"/>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_pcdd:string32"/>
				<element name="value" minOccurs="0" maxOccurs="1" type="cwt_pcdd:sysIdentifierValue"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<!-- Documents -->

</schema>
