project/resources/schema/cw.gen.cwt_common.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/templates/common"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwt_common="http://www.conceptwave.com/templates/common"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">


	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>


	<annotation>
		<documentation>CWT - Common Elements</documentation>
		<appinfo>
			<metadata>AVM Metadata</metadata>
			<created>Tue Aug 12 11:02:19 CST 2014</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="URL">
		<annotation>
			<documentation>URL</documentation>
		</annotation>
		<restriction base="cwf:anyURI">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="active">
		<annotation>
			<documentation>Active</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="booleanCheckBox">
		<annotation>
			<documentation>Boolean - Check Box</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="booleanRadio">
		<annotation>
			<documentation>Boolean - Radio</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="catalogType">
		<annotation>
			<documentation>catalogType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="codeTable">
		<annotation>
			<documentation>Code Table</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="codes">
		<annotation>
			<documentation>Codes</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="constantDescription">
		<annotation>
			<documentation>Constant Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="constantName">
		<annotation>
			<documentation>Constant Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="constantValue">
		<annotation>
			<documentation>Constant Value</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="customer">
		<annotation>
			<documentation>Customer (Reference)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="customerType">
		<annotation>
			<documentation>Customer Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="C">
				<annotation>
					<documentation>Customer</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation>Carrier</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Channel Partner</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation>Supplier</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="cwtct_associationStructural">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="cwtct_chargeFrequency">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="cwtct_itemCategory">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="cwtct_itemRuleType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="cwtct_itemType">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="dbEnumCode">
		<annotation>
			<documentation>DB Enumeration Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="dbEnumDescription">
		<annotation>
			<documentation>DB Enumeration Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="dbEnumDescriptionStr">
		<annotation>
			<documentation>DB Enumeration Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="dbEnumType">
		<annotation>
			<documentation>DB Enumeration Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="documentLeafRef">
		<annotation>
			<documentation>Document Leaf</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="extscriptisconstant">
		<annotation>
			<documentation>extscriptisconstant</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="extscriptname">
		<annotation>
			<documentation>extscriptname</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="extscriptstatus">
		<annotation>
			<documentation>extscriptstatus</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="DEF">
				<annotation>
					<documentation>Definition</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ACT">
				<annotation>
					<documentation>Active</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="extscripttype">
		<annotation>
			<documentation>extscripttype</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="iso3166">
		<annotation>
			<documentation>ISO 3166 Country Codes</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="iso4217">
		<annotation>
			<documentation>ISO 4217 Currency Codes</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="iso6391">
		<annotation>
			<documentation>ISO 639-1 Language Codes</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="iso6392">
		<annotation>
			<documentation>ISO 639-2 Language Codes</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="itutE164">
		<annotation>
			<documentation>ITU-T E.164 Country Codes</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="languagecode">
		<annotation>
			<documentation>Language</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="leafName">
		<annotation>
			<documentation>Leaf Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="marketSegment">
		<annotation>
			<documentation>Market Segment</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="metadataLabel">
		<annotation>
			<documentation>Metadata Label</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="metadataName">
		<annotation>
			<documentation>Metadata Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="param">
		<annotation>
			<documentation>Parameter</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="provState">
		<annotation>
			<documentation>Provinces &amp; States by Country</documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refAccount">
		<annotation>
			<documentation>Reference - Account</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refAddress">
		<annotation>
			<documentation>Reference - Customer Address</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refContact">
		<annotation>
			<documentation>Reference - Contact</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refContactPoint">
		<annotation>
			<documentation>Reference - Contact Point</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refContract">
		<annotation>
			<documentation>Reference - Contract</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refMasterAddress">
		<annotation>
			<documentation>Reference - Master Address</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="refOffers">
		<annotation>
			<documentation>Reference - Offers</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refOrder">
		<annotation>
			<documentation>Reference - Order</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refProductAddOn">
		<annotation>
			<documentation>Reference - Product Add-Ons</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refQuote">
		<annotation>
			<documentation>Reference - Quote</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refServices">
		<annotation>
			<documentation>Reference - Services</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refUpSells">
		<annotation>
			<documentation>Reference - Up-Sells</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="responseErrorCode">
		<annotation>
			<documentation>Response - Error Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="responseId">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  should be string 64 or bigger because city is using id of 64 bytes
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Response - Id</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="responseMessage">
		<annotation>
			<documentation>Response - Message</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="responseStatus">
		<annotation>
			<documentation>Response - Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="OK">
				<annotation>
					<documentation>Ok</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ERROR">
				<annotation>
					<documentation>Errors found</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PARTIAL">
				<annotation>
					<documentation>Partial Success</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="salesChannel">
		<annotation>
			<documentation>Sales Channel (Reference)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="selectCodes">
		<annotation>
			<documentation>Select Codes</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="sortOrder">
		<annotation>
			<documentation>Sort Order</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="stateCDN">
		<annotation>
			<documentation>Canadian Provinces</documentation>
			<appinfo>
				<label>States - Canada</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
			<enumeration value="AB">
				<annotation>
					<documentation>Alberta</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BC">
				<annotation>
					<documentation>British Columbia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MB">
				<annotation>
					<documentation>Manitoba</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NB">
				<annotation>
					<documentation>New Brunswick</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NF">
				<annotation>
					<documentation>Newfoundland</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NS">
				<annotation>
					<documentation>Nova Scotia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NT">
				<annotation>
					<documentation>Northwest Territories</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NU">
				<annotation>
					<documentation>Nunavut</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ON">
				<annotation>
					<documentation>Ontario</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PE">
				<annotation>
					<documentation>Prince Edward Island</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PQ">
				<annotation>
					<documentation>Quebec</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SK">
				<annotation>
					<documentation>Saskatchewan</documentation>
				</annotation>
			</enumeration>
			<enumeration value="YT">
				<annotation>
					<documentation>Yukon Territory</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="stateUSA">
		<annotation>
			<documentation>USA States</documentation>
			<appinfo>
				<label>States - USA</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
			<enumeration value="AK">
				<annotation>
					<documentation>Alaska</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AL">
				<annotation>
					<documentation>Alabama</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AR">
				<annotation>
					<documentation>Arkansas</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AZ">
				<annotation>
					<documentation>Arizona</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CA">
				<annotation>
					<documentation>California</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CO">
				<annotation>
					<documentation>Colorado</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CT">
				<annotation>
					<documentation>Connecticut</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DC">
				<annotation>
					<documentation>District of Columbia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DE">
				<annotation>
					<documentation>Delaware</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FL">
				<annotation>
					<documentation>Florida</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GA">
				<annotation>
					<documentation>Georgia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HI">
				<annotation>
					<documentation>Hawaii</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IA">
				<annotation>
					<documentation>Iowa</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ID">
				<annotation>
					<documentation>Idaho</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IL">
				<annotation>
					<documentation>Illinois</documentation>
				</annotation>
			</enumeration>
			<enumeration value="IN">
				<annotation>
					<documentation>Indiana</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KS">
				<annotation>
					<documentation>Kansas</documentation>
				</annotation>
			</enumeration>
			<enumeration value="KY">
				<annotation>
					<documentation>Kentucky</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LA">
				<annotation>
					<documentation>Louisiana</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MA">
				<annotation>
					<documentation>Massachusetts</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MD">
				<annotation>
					<documentation>Maryland</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ME">
				<annotation>
					<documentation>Maine</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MI">
				<annotation>
					<documentation>Michigan</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MN">
				<annotation>
					<documentation>Minnesota</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MO">
				<annotation>
					<documentation>Missouri</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MS">
				<annotation>
					<documentation>Mississippi</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MT">
				<annotation>
					<documentation>Montana</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NC">
				<annotation>
					<documentation>North Carolina</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ND">
				<annotation>
					<documentation>North Dakota</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NE">
				<annotation>
					<documentation>Nebraska</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NH">
				<annotation>
					<documentation>New Hampshire</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NJ">
				<annotation>
					<documentation>New Jersey</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NM">
				<annotation>
					<documentation>New Mexico</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NV">
				<annotation>
					<documentation>Nevada</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NY">
				<annotation>
					<documentation>New York</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OH">
				<annotation>
					<documentation>Ohio</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OK">
				<annotation>
					<documentation>Oklahoma</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OR">
				<annotation>
					<documentation>Oregon</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PA">
				<annotation>
					<documentation>Pennsylvania</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RI">
				<annotation>
					<documentation>Rhode Island</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SC">
				<annotation>
					<documentation>South Carolina</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SD">
				<annotation>
					<documentation>South Dakota</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TN">
				<annotation>
					<documentation>Tennessee</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TX">
				<annotation>
					<documentation>Texas</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UT">
				<annotation>
					<documentation>Utah</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VA">
				<annotation>
					<documentation>Virginia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="VT">
				<annotation>
					<documentation>Vermont</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WA">
				<annotation>
					<documentation>Washington</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WI">
				<annotation>
					<documentation>Wisconsin</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WV">
				<annotation>
					<documentation>West Virginia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WY">
				<annotation>
					<documentation>Wyoming</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string1024">
		<annotation>
			<documentation>string1024</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="string3">
		<annotation>
			<documentation>string3</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="string32">
		<annotation>
			<documentation>string32</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="string512">
		<annotation>
			<documentation>string512</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="supplier">
		<annotation>
			<documentation>Supplier (Reference)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="systemId">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="telephoneNumber">
		<annotation>
			<documentation>Telephone Number</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="useSortOrder">
		<annotation>
			<documentation>useSortOrder</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="ConceptWaveExportData">
		<annotation>
			<documentation>ConceptWave Export Data</documentation>
		</annotation>
			<sequence>
				<element name="header" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Export Header</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="exportDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
							<element name="exportUser" minOccurs="0" maxOccurs="1" type="xsd:string"/>
							<element name="exportSchema" minOccurs="0" maxOccurs="1" type="xsd:string"/>
							<element name="privilege" minOccurs="0" maxOccurs="1" type="xsd:string"/>
							<element name="signature" minOccurs="0" maxOccurs="1" type="xsd:string"/>
							<element name="exportType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						</sequence>
					</complexType>
				</element>
				<element name="object" minOccurs="0" maxOccurs="unbounded" type="cwt_common:object"/>
			</sequence>
		</complexType>

	<complexType name="Fault">
		<annotation>
			<documentation>Fault</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="message" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="cTable">
		<annotation>
			<documentation>Code Table</documentation>
		</annotation>
			<sequence>
				<element name="description" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Description</documentation>
					</annotation>
					<complexType>
						<sequence>
						</sequence>
						<attribute name="language" type="cwf:languages"/>
					</complexType>
				</element>
				<element name="code" minOccurs="0" maxOccurs="unbounded" type="cwt_common:cTableCode"/>
			</sequence>
			<attribute name="name" type="cwt_common:dbEnumCode"/>
			<attribute name="param" type="cwt_common:param"/>
			<attribute name="sortOrder" type="cwt_common:sortOrder"/>
		</complexType>

	<complexType name="cTableCode">
		<annotation>
			<documentation>cTableCode</documentation>
		</annotation>
			<sequence>
				<element name="description" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Description</documentation>
					</annotation>
					<complexType>
						<sequence>
						</sequence>
						<attribute name="language" type="cwf:languages"/>
					</complexType>
				</element>
			</sequence>
			<attribute name="code" type="cwt_common:dbEnumCode"/>
			<attribute name="active" type="xsd:boolean"/>
			<attribute name="param" type="cwt_common:param"/>
		</complexType>

	<complexType name="codeTableCode">
		<annotation>
			<documentation></documentation>
		</annotation>
			<sequence>
			</sequence>
			<attribute name="name" type="cwt_common:dbEnumCode"/>
			<attribute name="code" type="cwt_common:dbEnumCode"/>
		</complexType>

	<complexType name="codeTableImpExp">
		<annotation>
			<documentation>codeTableImpExp</documentation>
		</annotation>
			<sequence>
			</sequence>
			<attribute name="codeTableName" type="cwt_common:dbEnumCode"/>
			<attribute name="isTable" type="xsd:boolean"/>
			<attribute name="code" type="cwt_common:dbEnumCode"/>
			<attribute name="active" type="xsd:boolean"/>
			<attribute name="parameter" type="cwt_common:param"/>
		</complexType>

	<complexType name="codeTableImpExpList">
		<annotation>
			<documentation>codeTableImpExpList</documentation>
		</annotation>
			<sequence>
				<element name="codeTables" minOccurs="0" maxOccurs="unbounded" type="cwt_common:codeTableImpExp"/>
			</sequence>
		</complexType>

	<complexType name="codeTableName">
		<annotation>
			<documentation>codeTableName</documentation>
		</annotation>
			<sequence>
			</sequence>
			<attribute name="name" type="cwt_common:dbEnumCode"/>
		</complexType>

	<complexType name="dbCodeTable">
		<annotation>
			<documentation>DB Code Table</documentation>
		</annotation>
			<sequence>
				<element name="codeTables" minOccurs="0" maxOccurs="unbounded" type="cwt_common:cTable"/>
			</sequence>
		</complexType>

	<complexType name="finderDataDS">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  used to create a sql finder based on criterias that are spread among
  different search documents. This ds will hold all tables and conditions
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Finder Data</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="table" minOccurs="0" maxOccurs="500" type="xsd:string"/>
				<element name="condition" minOccurs="0" maxOccurs="1000" type="xsd:string"/>
				<element name="in_depth" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="level" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="okIfNoCondition" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="finderDataDSEnhanced">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  used to create a sql finder based on criterias that are spread among
  different search documents. This ds will hold all tables and conditions
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Finder DataEnhanced</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="table" minOccurs="0" maxOccurs="500" type="xsd:string"/>
				<element name="condition" minOccurs="0" maxOccurs="1000" type="xsd:string"/>
				<element name="in_depth" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="level" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
				<element name="okIfNoCondition" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
				<element name="value" minOccurs="0" maxOccurs="1000" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="object">
		<annotation>
			<documentation>Object</documentation>
		</annotation>
			<sequence>
				<element name="value" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Value</documentation>
					</annotation>
					<complexType>
						<sequence>
						</sequence>
						<attribute name="name" type="xsd:string" use="required"/>
						<attribute name="language" type="xsd:string"/>
						<attribute name="notMapped" type="xsd:boolean"/>
					</complexType>
				</element>
			</sequence>
			<attribute name="type" type="xsd:string" use="required"/>
			<attribute name="id" type="xsd:string"/>
		</complexType>

	<complexType name="response">
		<annotation>
			<documentation>Response</documentation>
		</annotation>
			<sequence>
				<element name="id" minOccurs="0" maxOccurs="1" type="cwt_common:responseId"/>
				<element name="name" minOccurs="0" maxOccurs="1" type="cwt_common:metadataName"/>
				<element name="label" minOccurs="0" maxOccurs="1" type="cwt_common:metadataLabel"/>
				<element name="statusCode" minOccurs="0" maxOccurs="1" type="cwt_common:responseStatus"/>
				<element name="error" minOccurs="0" maxOccurs="500" type="cwf:error"/>
				<element name="message" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="responses">
		<annotation>
			<documentation>Responses</documentation>
		</annotation>
			<sequence>
				<element name="id" minOccurs="0" maxOccurs="1" type="cwt_common:responseId"/>
				<element name="statusCode" minOccurs="0" maxOccurs="1" type="cwt_common:responseStatus"/>
				<element name="response" minOccurs="0" maxOccurs="500" type="cwt_common:response"/>
			</sequence>
		</complexType>

	<complexType name="responsesSet">
		<annotation>
			<documentation>Responses Set</documentation>
		</annotation>
			<sequence>
				<element name="responses" minOccurs="0" maxOccurs="1000" type="cwt_common:responses"/>
			</sequence>
		</complexType>

	<!-- Documents -->

	<complexType name="changeHistory">
		<annotation>
			<documentation>changeHistory</documentation>
		</annotation>
			<sequence>
				<element name="objectCode" type="cwt_common:string32"/>
				<element name="projectCode" type="cwt_common:string32"/>
				<element name="leafName" type="cwt_common:leafName"/>
				<element name="oldValue" type="cwt_common:string512"/>
				<element name="newValue" type="cwt_common:string512"/>
				<element name="catalogType" type="cwf:category"/>
				<element name="updatedBy" type="cwf:userId"/>
				<element name="updatedDate" type="xsd:dateTime"/>
				<element name="operationType" type="cwt_common:string3"/>
			</sequence>
		</complexType>

	<complexType name="changeHistorySearch">
		<annotation>
			<documentation>changeHistorySearch</documentation>
		</annotation>
			<sequence>
				<element name="objectCode" type="cwt_common:string32"/>
				<element name="projectCode" type="cwt_common:string32"/>
				<element name="updatedDate" type="xsd:dateTime"/>
				<element name="catalogType" type="cwt_common:catalogType"/>
			</sequence>
		</complexType>

	<complexType name="codeSelect">
		<annotation>
			<documentation>Code Select</documentation>
		</annotation>
			<sequence>
				<element name="cttype" type="cwt_common:dbEnumType"/>
				<element name="code" type="cwt_common:dbEnumCode"/>
				<element name="active" type="cwt_common:active"/>
				<element name="description" type="cwt_common:dbEnumDescription"/>
				<element name="param" type="cwt_common:param"/>
				<element name="sortOrder" type="cwt_common:sortOrder"/>
			</sequence>
		</complexType>

	<complexType name="codeTableSearch">
		<annotation>
			<documentation>Code Table Search</documentation>
		</annotation>
			<sequence>
				<element name="cttype" type="cwt_common:dbEnumType"/>
				<element name="param" type="cwt_common:param"/>
				<element name="code" type="cwt_common:dbEnumCode"/>
				<element name="codeLike" type="cwt_common:string32"/>
				<element name="codeInsideOneTable" type="cwt_common:string32"/>
				<element name="tableDescription" type="cwt_common:string1024"/>
				<element name="codeDescription" type="cwt_common:string1024"/>
			</sequence>
		</complexType>

	<complexType name="codeTableSearch2">
		<annotation>
			<documentation>Code Table Search 2</documentation>
		</annotation>
			<sequence>
				<element name="cttype" type="cwt_common:dbEnumType"/>
				<element name="param" type="cwt_common:param"/>
				<element name="code" type="cwt_common:dbEnumCode"/>
			</sequence>
		</complexType>

	<complexType name="constantsDefinitionDoc">
		<annotation>
			<documentation>Constants Definition</documentation>
		</annotation>
			<sequence>
				<element name="constantName" type="cwt_common:constantName"/>
				<element name="constantValue" type="cwt_common:constantValue"/>
				<element name="constantDescription" type="cwt_common:constantDescription"/>
			</sequence>
		</complexType>

	<complexType name="constantsDefinitionSearchDoc">
		<annotation>
			<documentation>Search - Constants Definition</documentation>
		</annotation>
			<sequence>
				<element name="constantName" type="cwt_common:constantName"/>
				<element name="constantValue" type="cwt_common:constantValue"/>
				<element name="constantDescription" type="cwt_common:constantDescription"/>
			</sequence>
		</complexType>

	<complexType name="cwfCodeTable">
		<annotation>
			<documentation></documentation>
		</annotation>
			<sequence>
				<element name="cttype" type="cwt_common:dbEnumType"/>
				<element name="code" type="cwt_common:dbEnumCode"/>
				<element name="active" type="cwt_common:active"/>
				<element name="param" type="cwt_common:param"/>
				<element name="description" type="cwt_common:dbEnumDescription"/>
				<element name="sortOrder" type="cwt_common:sortOrder"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="codes" type="cwt_common:codes"/>
				<element name="viewTable" type="xsd:boolean"/>
				<element name="codeTable" type="cwt_common:codeTable"/>
				<element name="descriptionTemp" type="cwt_common:dbEnumDescription"/>
				<element name="startDate" type="xsd:dateTime"/>
				<element name="endDate" type="xsd:dateTime"/>
				<element name="status" type="cwt_common:string3"/>
				<element name="codeTableId" type="cwf:sysGuid"/>
			</sequence>
		</complexType>

	<complexType name="dbEnumeration">
		<annotation>
			<documentation>DB Enumeration</documentation>
		</annotation>
			<sequence>
				<element name="code" type="cwt_common:dbEnumCode"/>
				<element name="description" type="cwt_common:dbEnumDescriptionStr"/>
				<element name="active" type="cwt_common:active"/>
				<element name="languagecode" type="cwt_common:languagecode"/>
			</sequence>
		</complexType>

	<complexType name="docID">
		<annotation>
			<documentation>Document ID</documentation>
		</annotation>
			<sequence>
				<element name="cwDocID" type="cwf:docId"/>
			</sequence>
		</complexType>

	<complexType name="documentLeaf">
		<annotation>
			<documentation>Document Leaf</documentation>
		</annotation>
			<sequence>
				<element name="leafName" type="cwt_common:leafName"/>
			</sequence>
		</complexType>

	<complexType name="documentLeafSearchCriteria">
		<annotation>
			<documentation>Document Leaf Search</documentation>
		</annotation>
			<sequence>
				<element name="documentName" type="cwf:metaDocuments"/>
			</sequence>
		</complexType>

	<complexType name="exportCodeTable">
		<annotation>
			<documentation></documentation>
		</annotation>
			<sequence>
				<element name="path" type="xsd:string"/>
				<element name="ifSingleFile" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="externalscript">
		<annotation>
			<documentation>externalscript</documentation>
		</annotation>
			<sequence>
				<element name="NAME" type="cwt_common:extscriptname"/>
				<element name="SEARCHTYPE" type="cwt_common:extscripttype"/>
				<element name="ISCONSTANT" type="cwt_common:extscriptisconstant"/>
				<element name="VALIDFROM" type="xsd:date"/>
				<element name="VALIDTO" type="xsd:date"/>
				<element name="STATUS" type="cwt_common:extscriptstatus"/>
				<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
				<element name="updatedBy" type="cwf:updatedBy"/>
				<element name="SCRIPT" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="externalscriptsearch">
		<annotation>
			<documentation>externalscriptsearch</documentation>
		</annotation>
			<sequence>
				<element name="NAME" type="cwt_common:extscriptname"/>
				<element name="TYPE" type="cwt_common:extscripttype"/>
			</sequence>
		</complexType>

	<complexType name="importCodeTable">
		<annotation>
			<documentation></documentation>
		</annotation>
			<sequence>
				<element name="path" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="importSingleCodeTable">
		<annotation>
			<documentation>importSingleCodeTable</documentation>
		</annotation>
			<sequence>
			</sequence>
		</complexType>

	<complexType name="oprionsDoc">
		<annotation>
			<documentation>Options Document</documentation>
		</annotation>
			<sequence>
				<element name="option" type="xsd:string"/>
				<element name="description" type="xsd:string"/>
				<element name="value" type="xsd:boolean"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="optionsSearch">
		<annotation>
			<documentation>Options Search</documentation>
		</annotation>
			<sequence>
				<element name="path" type="xsd:string"/>
				<element name="importValue" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="runSQLWithParamSearchDoc">
		<annotation>
			<documentation>runSQLWithParamSearchDoc</documentation>
		</annotation>
			<sequence>
				<element name="col0" type="xsd:string"/>
				<element name="col1" type="xsd:string"/>
				<element name="col2" type="xsd:string"/>
				<element name="col3" type="xsd:string"/>
				<element name="col4" type="xsd:string"/>
				<element name="col5" type="xsd:string"/>
				<element name="col6" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="templateConfig">
		<annotation>
			<documentation>Template Config</documentation>
		</annotation>
			<sequence>
				<element name="name" type="cwf:metaDocuments"/>
				<element name="userId" type="cwf:userIdRef"/>
			</sequence>
		</complexType>

	<complexType name="templateConfigDB">
		<annotation>
			<documentation>Template Config DB</documentation>
		</annotation>
			<sequence>
				<element name="name" type="cwf:metaDocuments"/>
				<element name="data" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="translation">
		<annotation>
			<documentation>Translation</documentation>
		</annotation>
			<sequence>
				<element name="id" type="cwf:cwDocId64"/>
				<element name="language" type="cwf:languages"/>
				<element name="description" type="xsd:string"/>
			</sequence>
		</complexType>

</schema>
