project/resources/schema/cw.gen.cwONInt.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="fet_on_api" targetNamespace="fet_on_api"
	xmlns:tns="fet_on_api"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:fet_on_api="fet_on_api">

	<types>
		<schema targetNamespace="fet_on_api"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:fet_on_api="fet_on_api"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"			
	xmlns:fet.common.dataType="fet.common.dataType">



			<annotation>
				<documentation>fet_on_api</documentation>
				<appinfo>
					<metadata>AVM Metadata</metadata>
					<created>Tue Aug 12 11:02:19 CST 2014</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="paringData">
				<annotation>
					<documentation>paringData</documentation>
				</annotation>
					<sequence>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="IMSI" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ProductId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="queryCatalogHierarchyResponse">
				<annotation>
					<documentation>queryCatalogHierarchyResponse</documentation>
				</annotation>
					<sequence>
						<element name="hierarchyChildrenNode" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>hierarchyChildrenNode</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
								</sequence>
							</complexType>
						</element>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="queryCatalogHierarchyRequest">
				<annotation>
					<documentation>queryCatalogHierarchyRequest</documentation>
				</annotation>
					<sequence>
						<element name="startingNodeCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="depth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="queryParingDataResponse">
				<annotation>
					<documentation>queryParingDataResponse</documentation>
				</annotation>
					<sequence>
						<element name="processId" minOccurs="1" maxOccurs="1" type="xsd:integer"/>
						<element name="paringData" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>paringData</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="fet_on_api:paringData">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="submitPreActivateOrderResponse">
				<annotation>
					<documentation>submitPreActivateOrderResponse</documentation>
				</annotation>
					<sequence>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="processId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="createOrderRequest">
				<annotation>
					<documentation>createOrderRequest</documentation>
				</annotation>
					<sequence>
						<element name="channel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="accountId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="siteId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="getEligibleOffersResponse">
				<annotation>
					<documentation>getEligibleOffersResponse</documentation>
				</annotation>
					<sequence>
						<element name="item" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>item</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
								</sequence>
							</complexType>
						</element>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="submitPreActivateOrderRequest">
				<annotation>
					<documentation>submitPreActivateOrderRequest</documentation>
				</annotation>
					<sequence>
						<element name="orderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="paringData" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>paringData</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="fet_on_api:paringData">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
					</sequence>
				</complexType>

			<complexType name="createOrderResponse">
				<annotation>
					<documentation>createOrderResponse</documentation>
				</annotation>
					<sequence>
						<element name="order" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="getEligibleOffersRequest">
				<annotation>
					<documentation>getEligibleOffersRequest</documentation>
				</annotation>
					<sequence>
						<element name="hierarchyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="itemType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="date" minOccurs="0" maxOccurs="1" type="xsd:date"/>
					</sequence>
				</complexType>

			<complexType name="queryParingDataRequest">
				<annotation>
					<documentation>queryParingDataRequest</documentation>
				</annotation>
					<sequence>
						<element name="processId" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="IMSI" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="ProductId" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
		<schema targetNamespace="fet.common.dataType"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:fet.common.dataType="fet.common.dataType"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>dataType</documentation>
				<appinfo>
					<metadata>AVM Metadata</metadata>
					<created>Tue Aug 12 11:02:19 CST 2014</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="string100">
				<annotation>
					<documentation>string100</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="100"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<!-- Documents -->

		</schema>
	</types>

	<message name="createOrderRequest">
		<part name="createOrderRequest" type="fet_on_api:createOrderRequest"/>
	</message>

	<message name="createOrderResponse">
		<part name="createOrderResponse" type="fet_on_api:createOrderResponse"/>
	</message>

	<message name="queryCatalogHierarchyRequest">
		<part name="queryCatalogHierarchyRequest" type="fet_on_api:queryCatalogHierarchyRequest"/>
	</message>

	<message name="queryCatalogHierarchyResponse">
		<part name="queryCatalogHierarchyResponse" type="fet_on_api:queryCatalogHierarchyResponse"/>
	</message>

	<message name="getEligibleOffersRequest">
		<part name="getEligibleOffersRequest" type="fet_on_api:getEligibleOffersRequest"/>
	</message>

	<message name="getEligibleOffersResponse">
		<part name="getEligibleOffersResponse" type="fet_on_api:getEligibleOffersResponse"/>
	</message>

	<message name="submitPreActivateOrderRequest">
		<part name="submitPreActivateOrderRequest" type="fet_on_api:submitPreActivateOrderRequest"/>
	</message>

	<message name="submitPreActivateOrderResponse">
		<part name="submitPreActivateOrderResponse" type="fet_on_api:submitPreActivateOrderResponse"/>
	</message>

	<message name="queryParingDataRequest">
		<part name="queryParingDataRequest" type="fet_on_api:queryParingDataRequest"/>
	</message>

	<message name="queryParingDataResponse">
		<part name="queryParingDataResponse" type="fet_on_api:queryParingDataResponse"/>
	</message>

	<portType name="cwONInt">
		<operation name="createOrder">
			<input message="tns:createOrderRequest"/>
			<output message="tns:createOrderResponse"/>
		</operation>
		<operation name="queryCatalogHierarchy">
			<input message="tns:queryCatalogHierarchyRequest"/>
			<output message="tns:queryCatalogHierarchyResponse"/>
		</operation>
		<operation name="getEligibleOffers">
			<input message="tns:getEligibleOffersRequest"/>
			<output message="tns:getEligibleOffersResponse"/>
		</operation>
		<operation name="submitPreActivateOrder">
			<input message="tns:submitPreActivateOrderRequest"/>
			<output message="tns:submitPreActivateOrderResponse"/>
		</operation>
		<operation name="queryParingData">
			<input message="tns:queryParingDataRequest"/>
			<output message="tns:queryParingDataResponse"/>
		</operation>
	</portType>

	<binding name="cwONBind" type="tns:cwONInt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createOrder">
			<soap:operation soapAction="createOrder"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryCatalogHierarchy">
			<soap:operation soapAction="queryCatalogHierarchy"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getEligibleOffers">
			<soap:operation soapAction="getEligibleOffers"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="submitPreActivateOrder">
			<soap:operation soapAction="submitPreActivateOrder"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryParingData">
			<soap:operation soapAction="queryParingData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="cwONServ">
		<port name="cwONServPort" binding="tns:cwONBind">
		</port>
	</service>

</definitions>