project/resources/schema/cw.gen.cwf_pm.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/products/pm"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf_pm="http://www.conceptwave.com/products/pm"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:cwf_oe="http://www.conceptwave.com/products/oe"	
	xmlns:cwf_up="http://www.conceptwave.com/products/up">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="http://www.conceptwave.com/products/oe" schemaLocation="cwf_oe.xsd"/>
	<import namespace="http://www.conceptwave.com/products/up" schemaLocation="cwf_up.xsd"/>

	<annotation>
		<documentation>Process Management Product</documentation>
		<appinfo>
			<metadata>AVM Metadata</metadata>
			<created>Tue Aug 12 11:02:19 CST 2014</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="AssignedUnassignedUser">
		<annotation>
			<documentation>Assigned/Unassigned User</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="&lt;assigned&gt;">
				<annotation>
					<documentation>&lt;assigned&gt;</documentation>
				</annotation>
			</enumeration>
			<enumeration value="&lt;unassigned&gt;">
				<annotation>
					<documentation>&lt;unassigned&gt;</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="BM_AverageValue">
		<annotation>
			<documentation>BM_AverageValue</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="BM_Counter">
		<annotation>
			<documentation>BM_Counter</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="BM_JMXCounterName">
		<annotation>
			<documentation>BM_JMXCounterName</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="BM_JMXDomainName">
		<annotation>
			<documentation>BM_JMXDomainName</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="BM_MaxValue">
		<annotation>
			<documentation>BM_MaxValue</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="BM_MinValue">
		<annotation>
			<documentation>BM_MinValue</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="BM_NODEID">
		<annotation>
			<documentation>BM_NODEID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="BM_RecordTime">
		<annotation>
			<documentation>BM_RecordTime</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="BM_RecordType">
		<annotation>
			<documentation>BM_RecordType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="%Invocation">
				<annotation>
					<documentation>Invocation</documentation>
				</annotation>
			</enumeration>
			<enumeration value="%ProcessTime">
				<annotation>
					<documentation>ProcessTime</documentation>
				</annotation>
			</enumeration>
			<enumeration value="%ReceivedMessage">
				<annotation>
					<documentation>ReceivedMessage</documentation>
				</annotation>
			</enumeration>
			<enumeration value="%InvokeError">
				<annotation>
					<documentation>InvokeError</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="BUCKET_NO">
		<annotation>
			<documentation>Bucket Number</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="CWPACTIVITY_STATUS">
		<annotation>
			<documentation>Activity Status</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="CWVMINFOARCHIVE_STATUS">
		<annotation>
			<documentation>CWVMINFOARCHIVE STATUS</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="Duration">
		<annotation>
			<documentation>Duration (secs)</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="EXCEPTION_CODE">
		<annotation>
			<documentation>Exception Code</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="Effort">
		<annotation>
			<documentation>Effort</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="Flags">
		<annotation>
			<documentation>Task Type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Task</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Alert</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Reassigned</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="FlagsTaskAlert">
		<annotation>
			<documentation>Task Type (task/alert)</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Task</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Alert</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="HOST">
		<annotation>
			<documentation>Host</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="INITIATOR">
		<annotation>
			<documentation>INITIATOR</documentation>
		</annotation>
		<restriction base="cwf:userId">
		</restriction>
	</simpleType>

	<simpleType name="IP">
		<annotation>
			<documentation>IP Address</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>

	<simpleType name="IS_PARTICIPANT_MESSAGE">
		<annotation>
			<documentation>IS_PARTICIPANT_MESSAGE</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="MESSAGE_TYPE">
		<annotation>
			<documentation>Message Type</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="MessageID">
		<annotation>
			<documentation>Message ID</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="NUMBERPROCESSES">
		<annotation>
			<documentation>NUMBERPROCESSES</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="NrProcs">
		<annotation>
			<documentation>Number of Processes</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="OPERATION">
		<annotation>
			<documentation>OPERATION</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
			<enumeration value="1">
				<annotation>
					<documentation>Taken</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Updated</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Assigned</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Created</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Completed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Get</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="OrderVK">
		<annotation>
			<documentation>Task Details</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="PARAMS">
		<annotation>
			<documentation>Engine Parameters</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="PARTICIPANT_TYPE">
		<annotation>
			<documentation>PARTICIPANT_TYPE</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="PE_ID">
		<annotation>
			<documentation>Process Engine ID</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="PROCESS_ID">
		<annotation>
			<documentation>Process Id (non ref)</documentation>
		</annotation>
		<restriction base="cwf:processId">
		</restriction>
	</simpleType>

	<simpleType name="ProcessId">
		<annotation>
			<documentation>Process ID</documentation>
		</annotation>
		<restriction base="cwf:nReference">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="STATUS">
		<annotation>
			<documentation>Process Status</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="3"/>
			<enumeration value="1">
				<annotation>
					<documentation>Executing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Suspended</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Completed</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Aborted</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Terminated</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>Cancelled</documentation>
				</annotation>
			</enumeration>
			<enumeration value="8">
				<annotation>
					<documentation>Stale</documentation>
				</annotation>
			</enumeration>
			<enumeration value="0">
				<annotation>
					<documentation>Not started</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="STATUSTOBESTALE">
		<annotation>
			<documentation>STATUSTOBESTALE</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="3"/>
			<enumeration value="1">
				<annotation>
					<documentation>Executing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Suspended</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Aborted</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Error</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="SenderId">
		<annotation>
			<documentation>Sender Id</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="SenderType1">
		<annotation>
			<documentation>Sender Type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="TAKENWLID">
		<annotation>
			<documentation>TAKENWLID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="TOTALMEMORY">
		<annotation>
			<documentation>TOTALMEMORY</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="TakenDescription">
		<annotation>
			<documentation>Taken Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="TaskCount">
		<annotation>
			<documentation>Task Count</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="TaskParticipant">
		<annotation>
			<documentation>Task Participant</documentation>
		</annotation>
		<restriction base="cwf:metaParticipants">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="USEDMEMORY">
		<annotation>
			<documentation>Memory Usage (KB)</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="VMID">
		<annotation>
			<documentation>AVM ID</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="VMStatus">
		<annotation>
			<documentation>Engine Status</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
			<enumeration value="0">
				<annotation>
					<documentation>Dead</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Running</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Saturated</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Stopped</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Inactive</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Looking for dead PE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Taken by Standby PE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>Passed to dead PE configuration</documentation>
				</annotation>
			</enumeration>
			<enumeration value="8">
				<annotation>
					<documentation>Standby failed to take dead PE</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="WorklistUserIDRef">
		<annotation>
			<documentation>Worklist User ID (ref)</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="actIndex">
		<annotation>
			<documentation>Activity Index</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="activity">
		<annotation>
			<documentation>Activity</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="archiveType">
		<annotation>
			<documentation>Archive Type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
			<enumeration value="1">
				<annotation>
					<documentation>Archive</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Purge</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="capacityInMB">
		<annotation>
			<documentation>capacity In MB</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="consumId">
		<annotation>
			<documentation>Consumer ID</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="daystostale">
		<annotation>
			<documentation>daystostale</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="3"/>
			<enumeration value="10">
				<annotation>
					<documentation>10</documentation>
				</annotation>
			</enumeration>
			<enumeration value="15">
				<annotation>
					<documentation>15</documentation>
				</annotation>
			</enumeration>
			<enumeration value="20">
				<annotation>
					<documentation>20</documentation>
				</annotation>
			</enumeration>
			<enumeration value="30">
				<annotation>
					<documentation>30</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="distributionType">
		<annotation>
			<documentation>Distribution Type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Manual</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Shared</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>System</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="elementsCount">
		<annotation>
			<documentation>elements Count</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="hitsPercentage">
		<annotation>
			<documentation>hits Percentage</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="msgCorrelationId">
		<annotation>
			<documentation>Message Correlation Id</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="msgPriority">
		<annotation>
			<documentation>Message Priority</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="msgRetryCount">
		<annotation>
			<documentation>Message Retry Count</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="msgSequenceId">
		<annotation>
			<documentation>Message Sequence ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="msgType">
		<annotation>
			<documentation>Message Type (Log)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="S">
				<annotation>
					<documentation>Send</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation>Receive</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="nodeID">
		<annotation>
			<documentation>Node ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="nodeMode">
		<annotation>
			<documentation>Node Mode</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>UI only</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>PE only</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>UI and PE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Standby PE</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="numberOfReturnedMessages">
		<annotation>
			<documentation>number of returned messages</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="peMode">
		<annotation>
			<documentation>PE Mode</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Not running</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Running Single PE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Running Symmetrical Cluster</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>RunningG_Asymmetrical_Cluster</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Standby PE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Running</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="peRequest">
		<annotation>
			<documentation>PE Request</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
			<enumeration value="1">
				<annotation>
					<documentation>PE Info</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Reset Local Cache</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Get Local Queue Data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Get Local Queue Messages</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Get Process Info</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Get Global Queues</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>Get Global Queue Data</documentation>
				</annotation>
			</enumeration>
			<enumeration value="8">
				<annotation>
					<documentation>Get Global Queue Messages</documentation>
				</annotation>
			</enumeration>
			<enumeration value="9">
				<annotation>
					<documentation>Activity Threads</documentation>
				</annotation>
			</enumeration>
			<enumeration value="10">
				<annotation>
					<documentation>Dump Threads</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="port">
		<annotation>
			<documentation>Port</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="receiveCharset">
		<annotation>
			<documentation>receiveCharset</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="refreshSchedule">
		<annotation>
			<documentation>refresh Schedule</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="requestsPerMinute">
		<annotation>
			<documentation>requests Per Minute</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="revision">
		<annotation>
			<documentation>Process Revision</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="senderType">
		<annotation>
			<documentation>Sender Type</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="sizeInKB">
		<annotation>
			<documentation>size In KB</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="userData">
		<annotation>
			<documentation>User Data</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="versionRecord">
		<annotation>
			<documentation>Version Record</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="queueMsg">
		<annotation>
			<documentation>Queue Message</documentation>
		</annotation>
			<sequence>
				<element name="data" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="charset" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="property" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
				<element name="soapHeader" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
			</sequence>
		</complexType>

	<!-- Documents -->

	<complexType name="Activity">
		<annotation>
			<documentation>Activity</documentation>
		</annotation>
			<sequence>
				<element name="PROCESS_ID" type="cwf_pm:ProcessId"/>
				<element name="ACTIVITY_INDEX" type="cwf_pm:actIndex"/>
				<element name="MESSAGE_TYPE" type="cwf:metadataIntId"/>
				<element name="START_TIME" type="cwf:dateTimeSec"/>
				<element name="COMPLETION_TIME" type="cwf:dateTimeSec"/>
				<element name="CWPACTIVITY_STATUS" type="cwf_pm:CWPACTIVITY_STATUS"/>
			</sequence>
		</complexType>

	<complexType name="ActivityArchive">
		<annotation>
			<documentation>Activity Archive</documentation>
		</annotation>
			<sequence>
				<element name="PROCESS_ID" type="cwf_pm:ProcessId"/>
				<element name="ACTIVITY_INDEX" type="cwf_pm:actIndex"/>
				<element name="MESSAGE_TYPE" type="cwf_pm:MESSAGE_TYPE"/>
				<element name="START_TIME" type="cwf:dateTimeSec"/>
				<element name="COMPLETION_TIME" type="cwf:dateTimeSec"/>
			</sequence>
		</complexType>

	<complexType name="BaseWorklistManagerSearch">
		<annotation>
			<documentation>Worklist Manager Search</documentation>
		</annotation>
			<sequence>
				<element name="Participant" type="cwf:metaUserParticipants"/>
				<element name="Priority" type="cwf:allPriorities"/>
				<element name="SenderId" type="cwf_pm:ProcessId"/>
				<element name="OrderId" type="cwf_oe:orderId"/>
				<element name="OrderVK" type="cwf_pm:OrderVK"/>
				<element name="DueDateGT" type="cwf:dateTimeMin"/>
				<element name="DueDateLT" type="cwf:dateTimeMin"/>
				<element name="StartDateGT" type="cwf:dateTimeMin"/>
				<element name="StartDateLT" type="cwf:dateTimeMin"/>
				<element name="AssignedDateGT" type="cwf:dateTimeMin"/>
				<element name="AssignedDateLT" type="cwf:dateTimeMin"/>
				<element name="Flags" type="cwf_pm:FlagsTaskAlert"/>
				<element name="NotFlags" type="cwf_pm:Flags"/>
				<element name="SenderType" type="cwf_pm:SenderType1"/>
				<element name="Operation" type="cwf:participantOper"/>
				<element name="userId" type="cwf_pm:WorklistUserIDRef"/>
				<element name="createDateGT" type="cwf:dateTimeMin"/>
				<element name="createDateLT" type="cwf:dateTimeMin"/>
				<element name="MetadataVer" type="cwf:metadataVer"/>
				<element name="actIndex" type="cwf_pm:actIndex"/>
				<element name="Effort" type="cwf_pm:Effort"/>
				<element name="orderIDs" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="BenchmarkIntervalCounterSearch">
		<annotation>
			<documentation>BenchmarkIntervalCounterSearch</documentation>
		</annotation>
			<sequence>
				<element name="RecordDate" type="xsd:date"/>
				<element name="RecordType" type="cwf_pm:BM_RecordType"/>
				<element name="NodeId" type="cwf_pm:BM_NODEID"/>
			</sequence>
		</complexType>

	<complexType name="CWGLOBALPROCESS">
		<annotation>
			<documentation>Global Process Document</documentation>
		</annotation>
			<sequence>
				<element name="PROCESS_ID" type="cwf_pm:PROCESS_ID"/>
				<element name="STATUS" type="cwf_pm:STATUS"/>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="PROCESS_METADATYPE" type="cwf:procMetaId"/>
				<element name="METADATATYPE_VER" type="cwf:metadataVer"/>
				<element name="STARTTIME" type="cwf:dateTimeSec"/>
				<element name="CHANGEDSTATUSTIME" type="cwf:dateTimeSec"/>
				<element name="INTERFACE" type="cwf:metadataIntId"/>
				<element name="PRIORITY" type="cwf:allPriorities"/>
				<element name="revision" type="cwf_pm:revision"/>
			</sequence>
		</complexType>

	<complexType name="CWPROCESS">
		<annotation>
			<documentation>Process</documentation>
		</annotation>
			<sequence>
				<element name="PROCESS_ID" type="cwf_pm:PROCESS_ID"/>
				<element name="PARENT_ID" type="cwf_pm:ProcessId"/>
				<element name="ROOT_ID" type="cwf_pm:ProcessId"/>
				<element name="STATUS" type="cwf_pm:STATUS"/>
				<element name="PROCESS_METADATYPE" type="cwf:procMetaId"/>
				<element name="METADATATYPE_VER" type="cwf:metadataVer"/>
				<element name="ORDER_ID" type="cwf_oe:orderId"/>
				<element name="STARTTIME" type="cwf:dateTimeSec"/>
				<element name="CHANGEDSTATUSTIME" type="cwf:dateTimeSec"/>
				<element name="Priority" type="cwf:allPriorities"/>
				<element name="ORDER_TYPE" type="cwf:orderMetaId"/>
				<element name="orderItemId" type="cwf:docId"/>
				<element name="revision" type="cwf_pm:revision"/>
				<element name="BUCKET_NO" type="cwf_pm:BUCKET_NO"/>
				<element name="RESTART_DATE" type="cwf:dateTimeSec"/>
			</sequence>
		</complexType>

	<complexType name="CWPUSRPRTCPNTS">
		<annotation>
			<documentation>Participant Users</documentation>
		</annotation>
			<sequence>
				<element name="PARTICIPANT_TYPE" type="cwf:metaParticipants"/>
				<element name="USER_NAME" type="cwf:userId"/>
			</sequence>
		</complexType>

	<complexType name="CWPWORKLISTARCHIVE">
		<annotation>
			<documentation>Worklist Archive</documentation>
		</annotation>
			<sequence>
				<element name="Priority" type="cwf:allPriorities"/>
				<element name="SENDER_ID" type="cwf_pm:SenderId"/>
				<element name="PARTICIPANT_TYPE" type="cwf:metaParticipants"/>
				<element name="ORDER_ID" type="cwf_oe:orderId"/>
				<element name="ORDER_VK" type="cwf_pm:OrderVK"/>
				<element name="CREATION_DATE" type="cwf:dateTimeMin"/>
				<element name="DUE_DATE" type="cwf:dateTimeMin"/>
				<element name="USER_ID" type="cwf_pm:WorklistUserIDRef"/>
				<element name="START_WORK_DATE" type="cwf:dateTimeMin"/>
				<element name="ASSIGNUSERDATE" type="cwf:dateTimeMin"/>
				<element name="Flags" type="cwf_pm:Flags"/>
				<element name="COMPLETE_DATE" type="cwf:dateTimeMin"/>
				<element name="Operation" type="cwf:interOper"/>
				<element name="action" type="cwf:interOper"/>
				<element name="orderItemId" type="cwf:orderId"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="CWPWORKLISTAUDIT">
		<annotation>
			<documentation>Worklist Audit</documentation>
		</annotation>
			<sequence>
				<element name="TaskID" type="cwf:docId"/>
				<element name="Priority" type="cwf:allPriorities"/>
				<element name="OldPriority" type="cwf:allPriorities"/>
				<element name="Due" type="cwf:dateTimeMin"/>
				<element name="OldDue" type="cwf:dateTimeMin"/>
				<element name="UserID" type="cwf_pm:WorklistUserIDRef"/>
				<element name="OldUserID" type="cwf_pm:WorklistUserIDRef"/>
				<element name="ChangedBy" type="cwf_pm:INITIATOR"/>
				<element name="ChangedOn" type="cwf:dateTimeSec"/>
				<element name="OPERATION" type="cwf_pm:OPERATION"/>
				<element name="TAKENWLID" type="cwf_pm:TAKENWLID"/>
				<element name="TakenDescription" type="cwf_pm:TakenDescription"/>
			</sequence>
		</complexType>

	<complexType name="CWVMINFOARCHIVE">
		<annotation>
			<documentation>CWVMINFOARCHIVE</documentation>
		</annotation>
			<sequence>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="HOST" type="cwf_pm:HOST"/>
				<element name="IP" type="cwf_pm:IP"/>
				<element name="STARTTIME" type="xsd:date"/>
				<element name="PARAMS" type="cwf_pm:PARAMS"/>
				<element name="TOTALMEMORY" type="cwf_pm:TOTALMEMORY"/>
				<element name="CWVMINFOARCHIVE_STATUS" type="cwf_pm:CWVMINFOARCHIVE_STATUS"/>
				<element name="NUMBERPROCESSES" type="cwf_pm:NUMBERPROCESSES"/>
				<element name="RECOVERED" type="xsd:date"/>
			</sequence>
		</complexType>

	<complexType name="DelegateSearch">
		<annotation>
			<documentation>Delegate Search</documentation>
		</annotation>
			<sequence>
				<element name="Participant" type="cwf:metaUserParticipants"/>
				<element name="Priority" type="cwf:allPriorities"/>
				<element name="SenderId" type="cwf_pm:ProcessId"/>
				<element name="OrderId" type="cwf_oe:orderId"/>
				<element name="OrderVK" type="cwf_pm:OrderVK"/>
				<element name="DueDateGT" type="cwf:dateTimeMin"/>
				<element name="DueDateLT" type="cwf:dateTimeMin"/>
				<element name="StartDateGT" type="cwf:dateTimeMin"/>
				<element name="StartDateLT" type="cwf:dateTimeMin"/>
				<element name="AssignedDateGT" type="cwf:dateTimeMin"/>
				<element name="AssignedDateLT" type="cwf:dateTimeMin"/>
				<element name="Flags" type="cwf_pm:FlagsTaskAlert"/>
				<element name="NotFlags" type="cwf_pm:Flags"/>
				<element name="SenderType" type="cwf_pm:SenderType1"/>
				<element name="Operation" type="cwf:interOper"/>
				<element name="createDateGT" type="cwf:dateTimeMin"/>
				<element name="createDateLT" type="cwf:dateTimeMin"/>
				<element name="MetadataVer" type="cwf:metadataVer"/>
				<element name="actIndex" type="cwf_pm:actIndex"/>
				<element name="Effort" type="cwf_pm:Effort"/>
				<element name="userId" type="cwf_pm:AssignedUnassignedUser"/>
			</sequence>
		</complexType>

	<complexType name="ExternalExceptionHandlerDoc">
		<annotation>
			<documentation>ExternalExceptionHandlerDoc</documentation>
		</annotation>
			<sequence>
				<element name="resumeIndicator" type="cwf:cwResumeIndicator"/>
				<element name="rollbackCode" type="cwf:cwRollbackCode"/>
			</sequence>
		</complexType>

	<complexType name="GLOBALPROCSEARCH">
		<annotation>
			<documentation>Global Process Search Document</documentation>
		</annotation>
			<sequence>
				<element name="STATUS" type="cwf_pm:STATUS"/>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="PROCESS_METADATYPE" type="cwf:globalProcMetaId"/>
				<element name="STARTTIME" type="cwf:dateTimeSec"/>
				<element name="STARTTIME2" type="cwf:dateTimeSec"/>
				<element name="Priority" type="cwf:allPriorities"/>
			</sequence>
		</complexType>

	<complexType name="InterfacePingDoc">
		<annotation>
			<documentation>Interface Ping Document</documentation>
		</annotation>
			<sequence>
				<element name="interType" type="cwf:metaInterfacesId"/>
				<element name="operation" type="cwf:interOper"/>
				<element name="nodeID" type="cwf_pm:nodeID"/>
				<element name="PingTime" type="xsd:dateTime"/>
				<element name="Port" type="xsd:string"/>
				<element name="Response" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="License">
		<annotation>
			<documentation>License</documentation>
		</annotation>
			<sequence>
				<element name="label" type="cwf_oe:string4000"/>
				<element name="content" type="xsd:string"/>
				<element name="extraInfo" type="xsd:string"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="MemoryActivity">
		<annotation>
			<documentation>Activity</documentation>
		</annotation>
			<sequence>
				<element name="PROCESS_ID" type="cwf_pm:ProcessId"/>
				<element name="ACTIVITY_INDEX" type="cwf_pm:actIndex"/>
				<element name="MESSAGE_TYPE" type="cwf:metadataIntId"/>
				<element name="START_TIME" type="cwf:dateTimeSec"/>
				<element name="COMPLETION_TIME" type="cwf:dateTimeSec"/>
				<element name="CWPACTIVITY_STATUS" type="cwf_pm:CWPACTIVITY_STATUS"/>
				<element name="ACTIVITY_PATH" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="PEInfo">
		<annotation>
			<documentation>PE Info</documentation>
		</annotation>
			<sequence>
				<element name="totalProc" type="cwf_up:Integer9"/>
				<element name="actQueue" type="cwf_up:Integer9"/>
				<element name="usedMem" type="cwf_up:Integer9"/>
				<element name="totalMem" type="cwf_up:Integer9"/>
				<element name="lastDBRead" type="cwf:dateTimeSec"/>
				<element name="nextDBRead" type="cwf:dateTimeSec"/>
				<element name="queueCount" type="cwf_up:Integer9"/>
				<element name="msgWaitCount" type="cwf_up:Integer9"/>
				<element name="HOST" type="cwf_pm:HOST"/>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="elementsCount" type="cwf_pm:elementsCount"/>
				<element name="requestsPerMinute" type="cwf_pm:requestsPerMinute"/>
				<element name="hitsPercentage" type="cwf_pm:hitsPercentage"/>
				<element name="sizeInKB" type="cwf_pm:sizeInKB"/>
				<element name="capacityInMB" type="cwf_pm:capacityInMB"/>
				<element name="refreshSchedule" type="cwf_pm:refreshSchedule"/>
				<element name="jmxPort" type="cwf_pm:port"/>
			</sequence>
		</complexType>

	<complexType name="ParticipantQueueDoc">
		<annotation>
			<documentation>Participant Queue Doc</documentation>
		</annotation>
			<sequence>
				<element name="messageID" type="cwf_pm:MessageID"/>
				<element name="created" type="cwf:dateTimeSec"/>
				<element name="interOper" type="cwf:interOper"/>
				<element name="SenderType" type="cwf:metadataIntId"/>
				<element name="SenderId" type="cwf_pm:SenderId"/>
				<element name="consumerID" type="cwf_pm:ProcessId"/>
			</sequence>
		</complexType>

	<complexType name="ParticipantTaskCountDocument">
		<annotation>
			<documentation>Participant Work Item Count Doc</documentation>
		</annotation>
			<sequence>
				<element name="metaParticipants" type="cwf:metaParticipants"/>
				<element name="workItems" type="cwf_pm:TaskCount"/>
				<element name="overdue" type="cwf_pm:TaskCount"/>
				<element name="unassigned" type="cwf_pm:TaskCount"/>
				<element name="alerts" type="cwf_pm:TaskCount"/>
			</sequence>
		</complexType>

	<complexType name="ProcessInformation">
		<annotation>
			<documentation>Process Information</documentation>
		</annotation>
			<sequence>
				<element name="procExec" type="cwf_up:Integer9"/>
				<element name="procError" type="cwf_up:Integer9"/>
				<element name="procAborted" type="cwf_up:Integer9"/>
				<element name="procSuspended" type="cwf_up:Integer9"/>
				<element name="procCompleted" type="cwf_up:Integer9"/>
				<element name="procTerminated" type="cwf_up:Integer9"/>
				<element name="globalProcExec" type="cwf_up:Integer9"/>
				<element name="globalProcError" type="cwf_up:Integer9"/>
				<element name="globalProcAborted" type="cwf_up:Integer9"/>
				<element name="globalProcSuspended" type="cwf_up:Integer9"/>
				<element name="globalProcCompleted" type="cwf_up:Integer9"/>
				<element name="globalProcTerminated" type="cwf_up:Integer9"/>
				<element name="workItems" type="cwf_up:Integer9"/>
				<element name="workOverdue" type="cwf_up:Integer9"/>
				<element name="workUnassigned" type="cwf_up:Integer9"/>
				<element name="engines" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="ProcessSearch">
		<annotation>
			<documentation>Process Search</documentation>
		</annotation>
			<sequence>
				<element name="STATUS" type="cwf_pm:STATUS"/>
				<element name="PROCESS_METADATYPE" type="cwf:userProcMetaId"/>
				<element name="ORDER_ID" type="cwf_oe:orderId"/>
				<element name="ORDER_TYPE" type="cwf:orderMetaId"/>
				<element name="STARTTIMEGT" type="cwf:dateTimeSec"/>
				<element name="STARTTIMELT" type="cwf:dateTimeSec"/>
				<element name="CHANGEDSTATUSTIMEGT" type="cwf:dateTimeSec"/>
				<element name="CHANGEDSTATUSTIMELT" type="cwf:dateTimeSec"/>
				<element name="PROCESS_ID" type="cwf_pm:PROCESS_ID"/>
				<element name="PARENT_ID" type="cwf_pm:ProcessId"/>
				<element name="Priority" type="cwf:allPriorities"/>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="METADATATYPE_VER" type="cwf:metadataVer"/>
			</sequence>
		</complexType>

	<complexType name="ProcessSearchStale">
		<annotation>
			<documentation>Processes to be stale</documentation>
		</annotation>
			<sequence>
				<element name="STATUS" type="cwf_pm:STATUSTOBESTALE"/>
				<element name="STATUSTOBESTALE" type="cwf_pm:STATUSTOBESTALE"/>
				<element name="daystostale" type="cwf_pm:daystostale"/>
				<element name="dateTimeSecStale" type="cwf:dateTimeSec"/>
				<element name="PROCESS_METADATYPE" type="cwf:userProcMetaId"/>
				<element name="ORDER_ID" type="cwf_oe:orderId"/>
				<element name="ORDER_TYPE" type="cwf:orderMetaId"/>
				<element name="STARTTIMEGT" type="cwf:dateTimeSec"/>
				<element name="STARTTIMELT" type="cwf:dateTimeSec"/>
				<element name="CHANGEDSTATUSTIMEGT" type="cwf:dateTimeSec"/>
				<element name="CHANGEDSTATUSTIMELT" type="cwf:dateTimeSec"/>
				<element name="PARENT_ID" type="cwf_pm:ProcessId"/>
				<element name="Priority" type="cwf:allPriorities"/>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="METADATATYPE_VER" type="cwf:metadataVer"/>
			</sequence>
		</complexType>

	<complexType name="QueueSearch">
		<annotation>
			<documentation>Queue Search</documentation>
		</annotation>
			<sequence>
				<element name="HOST" type="cwf_pm:HOST"/>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="startMsgID" type="cwf_pm:MessageID"/>
				<element name="numberOfReturnedMessages" type="cwf_pm:numberOfReturnedMessages"/>
				<element name="requestId" type="cwf_up:Integer9"/>
				<element name="queueType" type="cwf_up:Integer9"/>
				<element name="jmxPort" type="cwf_pm:port"/>
			</sequence>
		</complexType>

	<complexType name="TakenTask">
		<annotation>
			<documentation>Taken Task</documentation>
		</annotation>
			<sequence>
				<element name="userId" type="cwf:userId"/>
				<element name="takenDescription" type="cwf_pm:TakenDescription"/>
				<element name="orderId" type="cwf_oe:orderId"/>
			</sequence>
		</complexType>

	<complexType name="User">
		<annotation>
			<documentation>Worklist User Document</documentation>
		</annotation>
			<sequence>
				<element name="USER_ID" type="cwf:userId"/>
				<element name="Available" type="xsd:boolean"/>
				<element name="TaskCount" type="cwf_pm:TaskCount"/>
				<element name="OverdueTaskCount" type="cwf_pm:TaskCount"/>
				<element name="AlertCount" type="cwf_pm:TaskCount"/>
			</sequence>
		</complexType>

	<complexType name="VMINFOSEARCH">
		<annotation>
			<documentation>Process Engine Search</documentation>
		</annotation>
			<sequence>
				<element name="CURRENTTIME" type="xsd:dateTime"/>
				<element name="STATUS_NOT_RUNNING" type="cwf_pm:STATUS"/>
				<element name="STATUS_NOT_ACTIVE" type="cwf_pm:STATUS"/>
			</sequence>
		</complexType>

	<complexType name="WorkItemAssignUser">
		<annotation>
			<documentation>Work Item Assign User</documentation>
		</annotation>
			<sequence>
				<element name="user" type="cwf:usersPerPriv"/>
				<element name="participant" type="cwf:metaParticipants"/>
			</sequence>
		</complexType>

	<complexType name="WorklistArchiveSearch">
		<annotation>
			<documentation>Worklist Archive Search</documentation>
		</annotation>
			<sequence>
				<element name="SENDER_ID" type="cwf_pm:SenderId"/>
				<element name="orderIDs" type="xsd:string"/>
				<element name="OrderId" type="cwf_oe:orderId"/>
			</sequence>
		</complexType>

	<complexType name="WorklistManagerChange">
		<annotation>
			<documentation>Worklist Manager Change</documentation>
		</annotation>
			<sequence>
				<element name="PRIORITY" type="cwf:allPriorities"/>
				<element name="DUE_DATE" type="cwf:dateTimeMin"/>
				<element name="USER_ID" type="cwf:usersPerPriv"/>
			</sequence>
		</complexType>

	<complexType name="WorklistSearch">
		<annotation>
			<documentation>Worklist Search</documentation>
		</annotation>
			<sequence>
				<element name="userId" type="cwf:userId"/>
				<element name="disable" type="xsd:boolean"/>
				<element name="Flags" type="cwf_pm:Flags"/>
			</sequence>
		</complexType>

	<complexType name="WorklistUserSearch">
		<annotation>
			<documentation>Worklist User Search</documentation>
		</annotation>
			<sequence>
				<element name="NAME" type="cwf:userId"/>
				<element name="Available" type="xsd:boolean"/>
				<element name="CURRENT_TASKSGT" type="cwf_pm:TaskCount"/>
				<element name="CURRENT_TASKSLT" type="cwf_pm:TaskCount"/>
				<element name="OverdueGT" type="cwf_pm:TaskCount"/>
				<element name="OverdueLT" type="cwf_pm:TaskCount"/>
				<element name="AlertsGT" type="cwf_pm:TaskCount"/>
				<element name="AlertsLT" type="cwf_pm:TaskCount"/>
				<element name="Participant" type="cwf:metaUserParticipants"/>
				<element name="Privilege" type="cwf:privilege"/>
				<element name="NoAssigned" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="activityThread">
		<annotation>
			<documentation>Activity Thread</documentation>
		</annotation>
			<sequence>
				<element name="threadID" type="xsd:string"/>
				<element name="processID" type="cwf_pm:PROCESS_ID"/>
				<element name="startTime" type="cwf:dateTimeSec"/>
				<element name="activity" type="xsd:string"/>
				<element name="exec" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="avm">
		<annotation>
			<documentation>AVM</documentation>
		</annotation>
			<sequence>
				<element name="HOST" type="cwf_pm:HOST"/>
				<element name="VMID" type="cwf_pm:VMID"/>
				<element name="IP" type="cwf_pm:IP"/>
				<element name="STARTTIME" type="xsd:dateTime"/>
				<element name="LASTUPDATEDDATE" type="xsd:dateTime"/>
				<element name="MAXGUESTUSER" type="cwf_oe:MAXGUESTUSER"/>
				<element name="MAXLOGINUSER" type="cwf_oe:MAXLOGINUSER"/>
			</sequence>
		</complexType>

	<complexType name="host">
		<annotation>
			<documentation>Host</documentation>
		</annotation>
			<sequence>
				<element name="host" type="cwf_pm:HOST"/>
				<element name="port" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="listener">
		<annotation>
			<documentation>Listener</documentation>
		</annotation>
			<sequence>
				<element name="host" type="cwf_pm:HOST"/>
				<element name="vmId" type="cwf_pm:VMID"/>
				<element name="id" type="xsd:integer"/>
				<element name="interfaceValue" type="cwf:metaInterfacesId"/>
				<element name="port" type="cwf:metadataId"/>
				<element name="provider" type="cwf:metadataId"/>
				<element name="starttime" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="messageLogData">
		<annotation>
			<documentation>Message Log Data</documentation>
		</annotation>
			<sequence>
				<element name="data" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="messageLogResend">
		<annotation>
			<documentation>Message Log Resend</documentation>
		</annotation>
			<sequence>
				<element name="messageID" type="cwf_pm:MessageID"/>
				<element name="sendData" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="messageLogResendSearch">
		<annotation>
			<documentation>messageLogResendSearch</documentation>
		</annotation>
			<sequence>
				<element name="messageIDs" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="messageLogSearch">
		<annotation>
			<documentation>Message Log Search</documentation>
		</annotation>
			<sequence>
				<element name="messageID" type="cwf_pm:MessageID"/>
				<element name="avm" type="cwf_pm:VMID"/>
				<element name="interType" type="cwf:metaInterfacesId"/>
				<element name="operation" type="cwf:interOper"/>
				<element name="userId" type="cwf:userIdRef"/>
				<element name="fromTime" type="xsd:dateTime"/>
				<element name="toTime" type="xsd:dateTime"/>
				<element name="userData" type="cwf_pm:userData"/>
			</sequence>
		</complexType>

	<complexType name="milestone">
		<annotation>
			<documentation>Milestone</documentation>
		</annotation>
			<sequence>
				<element name="PROCESS_ID" type="cwf_pm:ProcessId"/>
				<element name="CODE" type="cwf:allMilestones"/>
				<element name="START_TIME" type="cwf:dateTimeMin"/>
				<element name="END_TIME" type="cwf:dateTimeMin"/>
				<element name="PARTICIPANT_ID" type="cwf:metaParticipants"/>
				<element name="PARTICIPANT_TYPE" type="cwf:metadataIntId"/>
				<element name="EXP_DUE_DATE" type="cwf:dateTimeMin"/>
				<element name="ORDER_ID" type="cwf_oe:orderId"/>
				<element name="DUE_DATE" type="cwf:dateTimeMin"/>
				<element name="actIndex" type="cwf_pm:actIndex"/>
				<element name="lastCode" type="xsd:boolean"/>
				<element name="Duration" type="cwf_pm:Duration"/>
				<element name="processDuration" type="cwf_pm:Duration"/>
			</sequence>
		</complexType>

	<complexType name="milestonesrc">
		<annotation>
			<documentation>Milestone Search</documentation>
		</annotation>
			<sequence>
				<element name="orderid" type="cwf_oe:orderId"/>
				<element name="PROCESS_ID" type="cwf_pm:ProcessId"/>
			</sequence>
		</complexType>

	<complexType name="monitorEngine">
		<annotation>
			<documentation>Monitor Engine</documentation>
		</annotation>
			<sequence>
				<element name="peId" type="cwf_pm:PE_ID"/>
				<element name="started" type="xsd:dateTime"/>
				<element name="stopped" type="xsd:dateTime"/>
				<element name="seq" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="monitorRes">
		<annotation>
			<documentation>Monitor Result</documentation>
		</annotation>
			<sequence>
				<element name="host" type="cwf_pm:HOST"/>
				<element name="port" type="cwf_up:Integer9"/>
				<element name="started" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="processStatusDoc">
		<annotation>
			<documentation>Process Status Doc</documentation>
		</annotation>
			<sequence>
				<element name="global" type="xsd:boolean"/>
				<element name="STATUS" type="cwf_pm:STATUS"/>
				<element name="count" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="queueDataResult">
		<annotation>
			<documentation>Queue Data Result</documentation>
		</annotation>
			<sequence>
				<element name="msgID" type="cwf_pm:MessageID"/>
				<element name="consumerID" type="cwf_pm:consumId"/>
				<element name="senderType" type="xsd:string"/>
				<element name="operation" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="queueMsgResult">
		<annotation>
			<documentation>Queue Message Result</documentation>
		</annotation>
			<sequence>
				<element name="msgID" type="cwf_pm:MessageID"/>
				<element name="consumerID" type="cwf_pm:consumId"/>
				<element name="senderType" type="cwf_pm:senderType"/>
				<element name="operation" type="xsd:string"/>
				<element name="activity" type="cwf_pm:activity"/>
			</sequence>
		</complexType>

	<complexType name="queueSummaryDoc">
		<annotation>
			<documentation>Queue Summary Doc</documentation>
		</annotation>
			<sequence>
				<element name="globalCount" type="cwf_up:Integer9"/>
				<element name="partCount" type="cwf_up:Integer9"/>
				<element name="partOldest" type="cwf:dateTimeSec"/>
				<element name="globalPartCount" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="userProcesses">
		<annotation>
			<documentation>User processes (grouped)</documentation>
		</annotation>
			<sequence>
				<element name="metadataIntId" type="cwf:procMetaId"/>
				<element name="STATUS" type="cwf_pm:STATUS"/>
				<element name="count" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="vmInfo">
		<annotation>
			<documentation>VM Info</documentation>
		</annotation>
			<sequence>
				<element name="HOST" type="cwf_pm:HOST"/>
				<element name="PE_ID" type="cwf_pm:PE_ID"/>
				<element name="IP" type="cwf_pm:IP"/>
				<element name="STARTTIME" type="xsd:dateTime"/>
				<element name="LASTUPDATEDDATE" type="xsd:dateTime"/>
				<element name="USEDMEMORY" type="cwf_pm:USEDMEMORY"/>
				<element name="TOTALMEMORY" type="cwf_pm:USEDMEMORY"/>
				<element name="VMStatus" type="cwf_pm:VMStatus"/>
				<element name="NrProcs" type="cwf_pm:NrProcs"/>
				<element name="jmxPort" type="cwf_pm:port"/>
				<element name="BUCKET_NO" type="cwf_pm:BUCKET_NO"/>
				<element name="PARAMS" type="cwf_pm:PARAMS"/>
				<element name="NODE_ID" type="cwf_pm:nodeID"/>
				<element name="PE_MODE" type="cwf_pm:peMode"/>
				<element name="END_TIME" type="xsd:dateTime"/>
				<element name="NODE_MODE" type="cwf_pm:nodeMode"/>
				<element name="RUNNING_IVERSION" type="cwf_pm:versionRecord"/>
				<element name="RUNNING_VERSION" type="cwf_pm:versionRecord"/>
				<element name="ACTIVATED_IVERSION" type="cwf_pm:versionRecord"/>
				<element name="ACTIVATED_VERSION" type="cwf_pm:versionRecord"/>
				<element name="ACTIVATED_ON" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="worklistSummaryDoc">
		<annotation>
			<documentation>Worklist Summary Doc</documentation>
		</annotation>
			<sequence>
				<element name="list" type="cwf_up:Integer9"/>
				<element name="overdue" type="cwf_up:Integer9"/>
				<element name="unassigned" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

</schema>
