project/resources/schema/cw.gen.security.data.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/api/security/data"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:security.data="http://www.conceptwave.com/api/security/data"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:api_common.data="http://www.conceptwave.com/api/common/data"	
	xmlns:cwf="http://www.conceptwave.com/system">



	<import namespace="http://www.conceptwave.com/api/common/data" schemaLocation="api_common.data.xsd"/>
	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>

	<annotation>
		<documentation>data</documentation>
		<appinfo>
			<metadata>AVM Metadata</metadata>
			<created>Tue Aug 12 11:02:19 CST 2014</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="calendarName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Name of the ConceptWave defined calendar.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Calendar</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="description">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  The description of the object
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Description</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="domain">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Domain name
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Domain</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="effort">
		<annotation>
			<documentation>Effort</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="email">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Email Address
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Email</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="fullName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  User name
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Full Name</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="512"/>
		</restriction>
	</simpleType>

	<simpleType name="groupName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Name of a group
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Group Name</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="nodeName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  User name
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Node Name</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="profileProvider">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Indicates the desired profile provider that should handle the request.
  The enumeration list is dynamic, depending on the application
  configuration. If not provided, the Profile Provider for the current
  context will be used. e.g. CW_UP for ConceptWave&#39;s Profile Provider
&lt;/p&gt;</documentation>
			<appinfo>
				<label>profileProvider</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="userName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  User name
&lt;/p&gt;</documentation>
			<appinfo>
				<label>User Name</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="group">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Information about a group.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Group</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="groupName" minOccurs="0" maxOccurs="1" type="security.data:groupName"/>
						<element name="description" minOccurs="0" maxOccurs="1" type="security.data:description"/>
						<element name="calendar" minOccurs="0" maxOccurs="1" type="security.data:calendarName"/>
						<element name="privilege" minOccurs="0" maxOccurs="unbounded" type="security.data:privilege"/>
						<element name="user" minOccurs="0" maxOccurs="unbounded" type="security.data:userGroup"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="groupList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of groups.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Group List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="group" minOccurs="0" maxOccurs="unbounded" type="security.data:group"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="groupPrivilege">
		<annotation>
			<documentation>Group Privilege</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="profileProvider" minOccurs="0" maxOccurs="1" type="security.data:profileProvider"/>
						<element name="groupName" minOccurs="0" maxOccurs="1" type="security.data:groupName"/>
						<element name="privilege" minOccurs="0" maxOccurs="1" type="cwf:privilege"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="groupPrivilegeList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of privileges in a group
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Group Privilege List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="profileProvider" minOccurs="0" maxOccurs="1" type="security.data:profileProvider"/>
						<element name="groupName" minOccurs="0" maxOccurs="1" type="security.data:groupName"/>
						<element name="privilege" minOccurs="0" maxOccurs="unbounded" type="security.data:privilege"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="groupSearch">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for group search criterions.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Group Search</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:objectSearch">
					<sequence>
						<element name="group" minOccurs="0" maxOccurs="1" type="security.data:group"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="orgChartNode">
		<annotation>
			<documentation>Organizational Chart Node</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="nodeId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="parentId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="name" minOccurs="0" maxOccurs="1" type="security.data:nodeName"/>
						<element name="fullName" minOccurs="0" maxOccurs="1" type="security.data:fullName"/>
						<element name="subNode" minOccurs="0" maxOccurs="unbounded" type="security.data:orgChartNode"/>
						<element name="user" minOccurs="0" maxOccurs="unbounded" type="security.data:userProfile"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="orgChartNodeList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of org chart nodes
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Organizational Chart Node List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="node" minOccurs="0" maxOccurs="unbounded" type="security.data:orgChartNode"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="orgChartNodeRef">
		<annotation>
			<documentation>Organizational Chart Node Ref</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:reference">
					<sequence>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="orgChartNodeSearch">
		<annotation>
			<documentation>Organizational Chart Node Search</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:objectSearch">
					<sequence>
						<element name="node" minOccurs="0" maxOccurs="1" type="security.data:orgChartNode"/>
						<element name="depth" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="includeUser" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="preference">
		<annotation>
			<documentation>preference</documentation>
		</annotation>
			<sequence>
				<element name="name" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="value" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="preferenceList">
		<annotation>
			<documentation>preferenceList</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="preference" minOccurs="0" maxOccurs="unbounded" type="security.data:preference"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="privilege">
		<annotation>
			<documentation>Privilege</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="privilege" minOccurs="0" maxOccurs="1" type="cwf:privilege"/>
						<element name="description" minOccurs="0" maxOccurs="1" type="security.data:description"/>
						<element name="group" minOccurs="0" maxOccurs="unbounded" type="security.data:groupPrivilege"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="privilegeGroupList">
		<annotation>
			<documentation>Privilege Group List</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="privilege" minOccurs="0" maxOccurs="1" type="cwf:privilege"/>
						<element name="group" minOccurs="0" maxOccurs="unbounded" type="security.data:groupPrivilege"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="privilegeList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of privileges.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Privilege List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="privilege" minOccurs="0" maxOccurs="unbounded" type="security.data:privilege"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="privilegeSearch">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for privilege search criterions.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Privilege Search</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:objectSearch">
					<sequence>
						<element name="privilege" minOccurs="0" maxOccurs="1" type="security.data:privilege"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="userGroup">
		<annotation>
			<documentation>User Group</documentation>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="groupName" minOccurs="0" maxOccurs="1" type="security.data:groupName"/>
						<element name="active" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="manager" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="userGroupList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of user groups.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>User Group List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="groupName" minOccurs="0" maxOccurs="1" type="security.data:groupName"/>
						<element name="userGroup" minOccurs="0" maxOccurs="unbounded" type="security.data:userGroup"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="userList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for a list of users.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>User List</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="user" minOccurs="0" maxOccurs="unbounded" type="security.data:userProfile"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="userProfile">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Information about a user.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>User Profile</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:object">
					<sequence>
						<element name="profileProvider" minOccurs="0" maxOccurs="1" type="security.data:profileProvider"/>
						<element name="userId" minOccurs="0" maxOccurs="1" type="cwf:userId"/>
						<element name="userName" minOccurs="0" maxOccurs="1" type="security.data:userName"/>
						<element name="domain" minOccurs="0" maxOccurs="1" type="security.data:domain"/>
						<element name="active" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="available" minOccurs="0" maxOccurs="1" type="xsd:boolean"/>
						<element name="email" minOccurs="0" maxOccurs="1" type="security.data:email"/>
						<element name="positionId" minOccurs="0" maxOccurs="1" type="api_common.data:ID"/>
						<element name="minTasks" minOccurs="0" maxOccurs="1" type="security.data:effort"/>
						<element name="maxTasks" minOccurs="0" maxOccurs="1" type="security.data:effort"/>
						<element name="group" minOccurs="0" maxOccurs="unbounded" type="security.data:userGroup"/>
						<element name="privilege" minOccurs="0" maxOccurs="unbounded" type="security.data:privilege"/>
						<element name="orgPosition" minOccurs="0" maxOccurs="1" type="security.data:orgChartNodeRef"/>
						<element name="preference" minOccurs="0" maxOccurs="1" type="security.data:preferenceList"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="userSearch">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Container for user search criterions.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>User Search</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="api_common.data:objectSearch">
					<sequence>
						<element name="user" minOccurs="0" maxOccurs="1" type="security.data:userProfile"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<!-- Documents -->

</schema>
