project/resources/schema/cw.gen.cwONInt.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="fet_on_api" targetNamespace="fet_on_api"
	xmlns:tns="fet_on_api"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:fet_on_api="fet_on_api">

	<types>
		<schema targetNamespace="fet_on_api"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:fet_on_api="fet_on_api"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"			
	xmlns:fet.common.dataType="fet.common.dataType">



			<annotation>
				<documentation>fet_on_api</documentation>
				<appinfo>
					<metadata>AVM Metadata</metadata>
					<created>Tue Aug 12 11:02:19 CST 2014</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="paringData">
				<annotation>
					<documentation>paringData</documentation>
				</annotation>
					<sequence>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="IMSI" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="ProductId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="addItemsRequest">
				<annotation>
					<documentation>addItemsRequest</documentation>
				</annotation>
					<sequence>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="offerCodes" minOccurs="0" maxOccurs="unbounded" type="fet.common.dataType:string100"/>
					</sequence>
				</complexType>

			<complexType name="removeItemsRequset">
				<annotation>
					<documentation>removeItemsRequset</documentation>
				</annotation>
					<sequence>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="offerCodes" minOccurs="0" maxOccurs="unbounded" type="fet.common.dataType:string100"/>
					</sequence>
				</complexType>

			<complexType name="queryCatalogHierarchyResponse">
				<annotation>
					<documentation>queryCatalogHierarchyResponse</documentation>
				</annotation>
					<sequence>
						<element name="hierarchyChildrenNode" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>hierarchyChildrenNode</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
								</sequence>
							</complexType>
						</element>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="queryCatalogHierarchyRequest">
				<annotation>
					<documentation>queryCatalogHierarchyRequest</documentation>
				</annotation>
					<sequence>
						<element name="startingNodeCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="depth" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="queryParingDataResponse">
				<annotation>
					<documentation>queryParingDataResponse</documentation>
				</annotation>
					<sequence>
						<element name="processId" minOccurs="1" maxOccurs="1" type="xsd:integer"/>
						<element name="paringData" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>paringData</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="fet_on_api:paringData">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="submitPreActivateOrderResponse">
				<annotation>
					<documentation>submitPreActivateOrderResponse</documentation>
				</annotation>
					<sequence>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="processId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="createOrderRequest">
				<annotation>
					<documentation>createOrderRequest</documentation>
				</annotation>
					<sequence>
						<element name="channel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="customerId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="accountId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="siteId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="submitPreActivateOrderRequest">
				<annotation>
					<documentation>submitPreActivateOrderRequest</documentation>
				</annotation>
					<sequence>
						<element name="orderType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="paringData" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>paringData</documentation>
							</annotation>
							<complexType>
								<complexContent>
									<extension base="fet_on_api:paringData">
										<sequence>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
					</sequence>
				</complexType>

			<complexType name="createOrderResponse">
				<annotation>
					<documentation>createOrderResponse</documentation>
				</annotation>
					<sequence>
						<element name="order" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="queryEligibleOffersResponse">
				<annotation>
					<documentation>queryEligibleOffersResponse</documentation>
				</annotation>
					<sequence>
						<element name="catalogItem" minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>catalogItem</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="label" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="attributes" minOccurs="0" maxOccurs="unbounded">
										<annotation>
											<documentation>attributes</documentation>
										</annotation>
										<complexType>
											<sequence>
												<element name="code" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
												<element name="label" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
												<element name="defaultValue" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
												<element name="typeCode" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
												<element name="typeCodeTable" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
												<element name="isProperty" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
											</sequence>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="addItemsResponse">
				<annotation>
					<documentation>addItemsResponse</documentation>
				</annotation>
					<sequence>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="removeItemsResponse">
				<annotation>
					<documentation>removeItemsResponse</documentation>
				</annotation>
					<sequence>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="errorMessage" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
					</sequence>
				</complexType>

			<complexType name="queryEligibleOffersRequest">
				<annotation>
					<documentation>queryEligibleOffersRequest</documentation>
				</annotation>
					<sequence>
						<element name="hierarchyCode" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="type" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="date" minOccurs="0" maxOccurs="1" type="xsd:date"/>
					</sequence>
				</complexType>

			<complexType name="queryParingDataRequest">
				<annotation>
					<documentation>queryParingDataRequest</documentation>
				</annotation>
					<sequence>
						<element name="processId" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="IMSI" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
						<element name="ProductId" minOccurs="0" maxOccurs="1" type="fet.common.dataType:string100"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
		<schema targetNamespace="fet.common.dataType"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:fet.common.dataType="fet.common.dataType"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>dataType</documentation>
				<appinfo>
					<metadata>AVM Metadata</metadata>
					<created>Tue Aug 12 11:02:19 CST 2014</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="string100">
				<annotation>
					<documentation>string100</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="100"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<!-- Documents -->

		</schema>
	</types>

	<message name="createOrderRequest">
		<part name="createOrderRequest" type="fet_on_api:createOrderRequest"/>
	</message>

	<message name="createOrderResponse">
		<part name="createOrderResponse" type="fet_on_api:createOrderResponse"/>
	</message>

	<message name="queryCatalogHierarchyRequest">
		<part name="queryCatalogHierarchyRequest" type="fet_on_api:queryCatalogHierarchyRequest"/>
	</message>

	<message name="queryCatalogHierarchyResponse">
		<part name="queryCatalogHierarchyResponse" type="fet_on_api:queryCatalogHierarchyResponse"/>
	</message>

	<message name="submitPreActivateOrderRequest">
		<part name="submitPreActivateOrderRequest" type="fet_on_api:submitPreActivateOrderRequest"/>
	</message>

	<message name="submitPreActivateOrderResponse">
		<part name="submitPreActivateOrderResponse" type="fet_on_api:submitPreActivateOrderResponse"/>
	</message>

	<message name="queryParingDataRequest">
		<part name="queryParingDataRequest" type="fet_on_api:queryParingDataRequest"/>
	</message>

	<message name="queryParingDataResponse">
		<part name="queryParingDataResponse" type="fet_on_api:queryParingDataResponse"/>
	</message>

	<message name="removeItemsRequset">
		<part name="removeItemsRequset" type="fet_on_api:removeItemsRequset"/>
	</message>

	<message name="removeItemsResponse">
		<part name="removeItemsResponse" type="fet_on_api:removeItemsResponse"/>
	</message>

	<message name="addItemsRequest">
		<part name="addItemsRequest" type="fet_on_api:addItemsRequest"/>
	</message>

	<message name="addItemsResponse">
		<part name="addItemsResponse" type="fet_on_api:addItemsResponse"/>
	</message>

	<message name="queryEligibleOffersRequest">
		<part name="queryEligibleOffersRequest" type="fet_on_api:queryEligibleOffersRequest"/>
	</message>

	<message name="queryEligibleOffersResponse">
		<part name="queryEligibleOffersResponse" type="fet_on_api:queryEligibleOffersResponse"/>
	</message>

	<portType name="cwONInt">
		<operation name="createOrder">
			<input message="tns:createOrderRequest"/>
			<output message="tns:createOrderResponse"/>
		</operation>
		<operation name="queryCatalogHierarchy">
			<input message="tns:queryCatalogHierarchyRequest"/>
			<output message="tns:queryCatalogHierarchyResponse"/>
		</operation>
		<operation name="submitPreActivateOrder">
			<input message="tns:submitPreActivateOrderRequest"/>
			<output message="tns:submitPreActivateOrderResponse"/>
		</operation>
		<operation name="queryParingData">
			<input message="tns:queryParingDataRequest"/>
			<output message="tns:queryParingDataResponse"/>
		</operation>
		<operation name="removeItems">
			<input message="tns:removeItemsRequset"/>
			<output message="tns:removeItemsResponse"/>
		</operation>
		<operation name="addItems">
			<input message="tns:addItemsRequest"/>
			<output message="tns:addItemsResponse"/>
		</operation>
		<operation name="queryEligibleOffers">
			<input message="tns:queryEligibleOffersRequest"/>
			<output message="tns:queryEligibleOffersResponse"/>
		</operation>
	</portType>

	<binding name="cwONBind" type="tns:cwONInt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createOrder">
			<soap:operation soapAction="createOrder"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryCatalogHierarchy">
			<soap:operation soapAction="queryCatalogHierarchy"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="submitPreActivateOrder">
			<soap:operation soapAction="submitPreActivateOrder"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryParingData">
			<soap:operation soapAction="queryParingData"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="removeItems">
			<soap:operation soapAction="removeItems"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="addItems">
			<soap:operation soapAction="addItems"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryEligibleOffers">
			<soap:operation soapAction="queryEligibleOffers"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="cwONServ">
		<port name="cwONServPort" binding="tns:cwONBind">
		</port>
	</service>

</definitions>