project/resources/schema/cw.gen.ONServiceAPIInt.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="cwtonapi_lib" targetNamespace="http://www.conceptwave.com/products/cwt_on/cwt_on_lib"
	xmlns:tns="http://www.conceptwave.com/products/cwt_on/cwt_on_lib"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cwt_onapi="http://www.conceptwave.com/products/cwt_on/cwt_onapi">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.conceptwave.com/products/cwt_on/cwt_onapi" schemaLocation="cwt_onapi.xsd"/>
		</schema>
	</types>

	<message name="createQuoteRequest">
		<part name="createQuoteRequest" type="cwt_onapi:createQuoteRequest"/>
	</message>

	<message name="createQuoteResponse">
		<part name="createQuoteResponse" type="cwt_onapi:createQuoteResponse"/>
	</message>

	<message name="getQuoteRequest">
		<part name="getQuoteRequest" type="cwt_onapi:getQuoteRequest"/>
	</message>

	<message name="getQuoteResponse">
		<part name="getQuoteResponse" type="cwt_onapi:getQuoteResponse"/>
	</message>

	<message name="queryCatalogRequest">
		<part name="queryCatalogRequest" type="cwt_onapi:queryCatalogRequest"/>
	</message>

	<message name="queryCatalogResponse">
		<part name="queryCatalogResponse" type="cwt_onapi:queryCatalogResponse"/>
	</message>

	<message name="addOfferToQuoteRequest">
		<part name="addOfferToQuoteRequest" type="cwt_onapi:addOfferToQuoteRequest"/>
	</message>

	<message name="addOfferToQuoteResponse">
		<part name="addOfferToQuoteResponse" type="cwt_onapi:addOfferToQuoteResponse"/>
	</message>

	<message name="removeOfferFromQuoteRequest">
		<part name="removeOfferFromQuoteRequest" type="cwt_onapi:removeOfferFromQuoteRequest"/>
	</message>

	<message name="removeOfferFromQuoteResponse">
		<part name="removeOfferFromQuoteResponse" type="cwt_onapi:removeOfferFromQuoteResponse"/>
	</message>

	<message name="validateQuoteRequest">
		<part name="validateQuoteRequest" type="cwt_onapi:validateQuoteRequest"/>
	</message>

	<message name="validateQuoteResponse">
		<part name="validateQuoteResponse" type="cwt_onapi:validateQuoteResponse"/>
	</message>

	<message name="submitQuoteRequest">
		<part name="submitQuoteRequest" type="cwt_onapi:submitQuoteRequest"/>
	</message>

	<message name="submitQuoteResponse">
		<part name="submitQuoteResponse" type="cwt_onapi:submitQuoteResponse"/>
	</message>

	<message name="removeQuoteRequest">
		<part name="removeQuoteRequest" type="cwt_onapi:removeQuoteRequest"/>
	</message>

	<message name="removeQuoteResponse">
		<part name="removeQuoteResponse" type="cwt_onapi:removeQuoteResponse"/>
	</message>

	<message name="updateQuoteRequest">
		<part name="updateQuoteRequest" type="cwt_onapi:updateQuoteRequest"/>
	</message>

	<message name="updateQuoteResponse">
		<part name="updateQuoteResponse" type="cwt_onapi:updateQuoteResponse"/>
	</message>

	<message name="undeleteOfferFromQuoteRequest">
		<part name="undeleteOfferFromQuoteRequest" type="cwt_onapi:undeleteOfferFromQuoteRequest"/>
	</message>

	<message name="undeleteOfferFromQuoteResponse">
		<part name="undeleteOfferFromQuoteResponse" type="cwt_onapi:undeleteOfferFromQuoteResponse"/>
	</message>

	<message name="browseOrdersRequest">
		<part name="browseOrdersRequest" type="cwt_onapi:browseOrdersRequest"/>
	</message>

	<message name="browseOrdersResponse">
		<part name="browseOrdersResponse" type="cwt_onapi:browseOrdersResponse"/>
	</message>

	<message name="reviseOrderRequest">
		<part name="reviseOrderRequest" type="cwt_onapi:reviseOrderRequest"/>
	</message>

	<message name="reviseOrderResponse">
		<part name="reviseOrderResponse" type="cwt_onapi:reviseOrderResponse"/>
	</message>

	<message name="getAccountServicesRequest">
		<part name="getAccountServicesRequest" type="cwt_onapi:getAccountServicesRequest"/>
	</message>

	<message name="getAccountServicesResponse">
		<part name="getAccountServicesResponse" type="cwt_onapi:getAccountServicesResponse"/>
	</message>

	<message name="getDataOrderRequest">
		<part name="getDataOrderRequest" type="cwt_onapi:getDataOrderRequest"/>
	</message>

	<message name="getDataOrderResponse">
		<part name="getDataOrderResponse" type="cwt_onapi:getDataOrderResponse"/>
	</message>

	<message name="updateQuoteOffersRequest">
		<part name="updateQuoteOffersRequest" type="cwt_onapi:updateQuoteOffersRequest"/>
	</message>

	<message name="updateQuoteOffersResponse">
		<part name="updateQuoteOffersResponse" type="cwt_onapi:updateQuoteOffersResponse"/>
	</message>

	<portType name="ONServiceAPIInt">
		<operation name="createQuote">
			<input message="tns:createQuoteRequest"/>
			<output message="tns:createQuoteResponse"/>
		</operation>
		<operation name="getQuote">
			<input message="tns:getQuoteRequest"/>
			<output message="tns:getQuoteResponse"/>
		</operation>
		<operation name="queryCatalog">
			<input message="tns:queryCatalogRequest"/>
			<output message="tns:queryCatalogResponse"/>
		</operation>
		<operation name="addOfferToQuote">
			<input message="tns:addOfferToQuoteRequest"/>
			<output message="tns:addOfferToQuoteResponse"/>
		</operation>
		<operation name="removeOfferFromQuote">
			<input message="tns:removeOfferFromQuoteRequest"/>
			<output message="tns:removeOfferFromQuoteResponse"/>
		</operation>
		<operation name="validateQuote">
			<input message="tns:validateQuoteRequest"/>
			<output message="tns:validateQuoteResponse"/>
		</operation>
		<operation name="submitQuote">
			<input message="tns:submitQuoteRequest"/>
			<output message="tns:submitQuoteResponse"/>
		</operation>
		<operation name="removeQuote">
			<input message="tns:removeQuoteRequest"/>
			<output message="tns:removeQuoteResponse"/>
		</operation>
		<operation name="updateQuote">
			<input message="tns:updateQuoteRequest"/>
			<output message="tns:updateQuoteResponse"/>
		</operation>
		<operation name="undeleteOfferFromQuote">
			<input message="tns:undeleteOfferFromQuoteRequest"/>
			<output message="tns:undeleteOfferFromQuoteResponse"/>
		</operation>
		<operation name="browseOrders">
			<input message="tns:browseOrdersRequest"/>
			<output message="tns:browseOrdersResponse"/>
		</operation>
		<operation name="reviseOrder">
			<input message="tns:reviseOrderRequest"/>
			<output message="tns:reviseOrderResponse"/>
		</operation>
		<operation name="getAccountServices">
			<input message="tns:getAccountServicesRequest"/>
			<output message="tns:getAccountServicesResponse"/>
		</operation>
		<operation name="getDataOrder">
			<input message="tns:getDataOrderRequest"/>
			<output message="tns:getDataOrderResponse"/>
		</operation>
		<operation name="setDataOrder">
		</operation>
		<operation name="updateDataOrder">
		</operation>
		<operation name="moveOffers">
		</operation>
		<operation name="updateQuoteOffers">
			<input message="tns:updateQuoteOffersRequest"/>
			<output message="tns:updateQuoteOffersResponse"/>
		</operation>
		<operation name="transferItems">
		</operation>
		<operation name="migrateOffer">
		</operation>
	</portType>

	<binding name="ONServiceAPIBindSOAP" type="tns:ONServiceAPIInt">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="createQuote">
			<soap:operation soapAction="createQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getQuote">
			<soap:operation soapAction="getQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="queryCatalog">
			<soap:operation soapAction="queryCatalog"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="addOfferToQuote">
			<soap:operation soapAction="addOfferToQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="removeOfferFromQuote">
			<soap:operation soapAction="removeOfferFromQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="validateQuote">
			<soap:operation soapAction="validateQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="submitQuote">
			<soap:operation soapAction="submitQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="removeQuote">
			<soap:operation soapAction="removeQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="updateQuote">
			<soap:operation soapAction="updateQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="undeleteOfferFromQuote">
			<soap:operation soapAction="undeleteOfferFromQuote"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="browseOrders">
			<soap:operation soapAction="browseOrders"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="reviseOrder">
			<soap:operation soapAction="reviseOrder"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getAccountServices">
			<soap:operation soapAction="getAccountServices"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getDataOrder">
			<soap:operation soapAction="getDataOrder"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="setDataOrder">
			<soap:operation soapAction="setDataOrder"/>
		</operation>
		<operation name="updateDataOrder">
			<soap:operation soapAction="updateDataOrder"/>
		</operation>
		<operation name="moveOffers">
			<soap:operation soapAction="moveOffers"/>
		</operation>
		<operation name="updateQuoteOffers">
			<soap:operation soapAction="updateQuoteOffers"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="transferItems">
			<soap:operation soapAction="transferItems"/>
		</operation>
		<operation name="migrateOffer">
			<soap:operation soapAction="migrateOffer"/>
		</operation>
	</binding>

	<service name="ONServiceAPI">
		<port name="portSOAP" binding="tns:ONServiceAPIBindSOAP">
		</port>
	</service>

</definitions>