project/resources/schema/cw.gen.MDMInterface.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="fet.dummyServer.MDM" targetNamespace="fet.dummyServer.MDM"
	xmlns:tns="fet.dummyServer.MDM"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:fet.services.MDM="fet.services.MDM">

	<types>
		<schema targetNamespace="fet.services.MDM"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:fet.services.MDM="fet.services.MDM"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>MDM</documentation>
				<appinfo>
					<metadata>AVM Metadata</metadata>
					<created>Tue Aug 12 11:02:19 CST 2014</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="UpdateTxResponse">
				<annotation>
					<documentation>UpdateTxResponse</documentation>
				</annotation>
					<sequence>
						<element name="Result" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="UpdateTxRequest">
				<annotation>
					<documentation>UpdateTxRequest</documentation>
				</annotation>
					<sequence>
						<element name="TxID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="Channelinformation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="TxDataObject" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
	</types>

	<message name="UpdateTxRequest">
		<part name="UpdateTxRequest" type="fet.services.MDM:UpdateTxRequest"/>
	</message>

	<message name="UpdateTxResponse">
		<part name="UpdateTxResponse" type="fet.services.MDM:UpdateTxResponse"/>
	</message>

	<portType name="MDMInterface">
		<operation name="UpdateTx">
			<input message="tns:UpdateTxRequest"/>
			<output message="tns:UpdateTxResponse"/>
		</operation>
	</portType>

	<binding name="MDMBinding" type="tns:MDMInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="UpdateTx">
			<soap:operation soapAction="UpdateTx"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="MDMExternalService">
		<port name="MDMPort" binding="tns:MDMBinding">
		</port>
	</service>

</definitions>