project/resources/schema/cw.gen.cwf_oe.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/products/oe"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf_oe="http://www.conceptwave.com/products/oe"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:cwf_up="http://www.conceptwave.com/products/up"	
	xmlns:cwf_pm="http://www.conceptwave.com/products/pm">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="http://www.conceptwave.com/products/up" schemaLocation="cwf_up.xsd"/>
	<import namespace="http://www.conceptwave.com/products/pm" schemaLocation="cwf_pm.xsd"/>

	<annotation>
		<documentation>Order Entry Product</documentation>
		<appinfo>
			<metadata>AVM Metadata</metadata>
			<created>Tue Aug 12 11:02:19 CST 2014</created>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="ACTIVE1">
		<annotation>
			<documentation>ACTIVE</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="AVMType">
		<annotation>
			<documentation>AVM type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
			<enumeration value="PE">
				<annotation>
					<documentation>Process Engine</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UI">
				<annotation>
					<documentation>UI Server</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="DESCRIPTION">
		<annotation>
			<documentation>Event Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="DOCID">
		<annotation>
			<documentation>DOCID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="DOCMETADATATYPE">
		<annotation>
			<documentation>DOCMETADATATYPE</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="EVENT_CODE">
		<annotation>
			<documentation>Event Code</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="EVENT_SEVERITY">
		<annotation>
			<documentation>Event Severity</documentation>
		</annotation>
		<restriction base="cwf:severity">
			<enumeration value="0">
				<annotation>
					<documentation>Debug</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Information</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Warning</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Fatal Error</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="EVENT_SOURCE">
		<annotation>
			<documentation>Event Module</documentation>
		</annotation>
		<restriction base="cwf:module">
			<enumeration value="0">
				<annotation>
					<documentation>User Interface</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Persistence</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Data/System</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Metadata</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Process Engine</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Javascript Interpreter</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>External Interface</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>DB Stored Procedure</documentation>
				</annotation>
			</enumeration>
			<enumeration value="8">
				<annotation>
					<documentation>User Profile</documentation>
				</annotation>
			</enumeration>
			<enumeration value="9">
				<annotation>
					<documentation>Testing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="10">
				<annotation>
					<documentation>Other</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="EXTERNAL_CODE">
		<annotation>
			<documentation>Event External Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="EXTERNAL_TYPE">
		<annotation>
			<documentation>Event External Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="EmailSubject">
		<annotation>
			<documentation>Email Subject</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="EventID">
		<annotation>
			<documentation>Event Id</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="FavoriteLabel">
		<annotation>
			<documentation>Label</documentation>
		</annotation>
		<restriction base="cwf_oe:VISUALKEY1">
		</restriction>
	</simpleType>

	<simpleType name="HOST">
		<annotation>
			<documentation>Host</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="HasAttachment">
		<annotation>
			<documentation>HasAttachment</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="MAXGUESTUSER">
		<annotation>
			<documentation>MAXGUESTUSER</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="MAXLOGINUSER">
		<annotation>
			<documentation>MAXLOGINUSER</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="MIMETYPE">
		<annotation>
			<documentation>MIMETYPE</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="MaxFinderRows">
		<annotation>
			<documentation>Max Finder Rows</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="NOTES">
		<annotation>
			<documentation>NOTES</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="NewNotes">
		<annotation>
			<documentation>New Notes</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="NodeId">
		<annotation>
			<documentation>Node ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="OBJECT_ID">
		<annotation>
			<documentation>Event Object ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="ORIGINALFILESPEC">
		<annotation>
			<documentation>ORIGINALFILESPEC</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="OrderIdNonRef">
		<annotation>
			<documentation>Order ID (non ref)</documentation>
		</annotation>
		<restriction base="cwf:orderId">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="PRODUCTPRO_ID">
		<annotation>
			<documentation>Product Properties ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="Password">
		<annotation>
			<documentation>Password</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="QUALIFIED_NAME">
		<annotation>
			<documentation>Event Qualified Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="SERVERID">
		<annotation>
			<documentation>Server ID</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="STACK_TRACE">
		<annotation>
			<documentation>Event Stack Trace</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="STATIONIPADDR">
		<annotation>
			<documentation>STATIONIPADDR</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="15"/>
		</restriction>
	</simpleType>

	<simpleType name="TOPORDERID">
		<annotation>
			<documentation>TOPORDERID</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="TOPORDERMETADATATYPE">
		<annotation>
			<documentation>TOPORDERMETADATATYPE</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="USERID">
		<annotation>
			<documentation>USERID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="VISUALKEY1">
		<annotation>
			<documentation>VISUALKEY</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="active">
		<annotation>
			<documentation>Active</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="allActions">
		<annotation>
			<documentation>all actions</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
			<enumeration value="SECURITY_LOGIN">
				<annotation>
					<documentation>SECURITY_LOGIN</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SECURITY_LOGOUT">
				<annotation>
					<documentation>SECURITY_LOGOUT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SECURITY_LOGIN_FAILED">
				<annotation>
					<documentation>SECURITY_LOGIN_FAILED</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SECURITY_PASSWORD_CHANGE">
				<annotation>
					<documentation>SECURITY_PASSWORD_CHANGE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="USER_SESSION_TIMEOUT">
				<annotation>
					<documentation>USER_SESSION_TIMEOUT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SYSTEM_STARTUP">
				<annotation>
					<documentation>SYSTEM_STARTUP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SYSTEM_SHUTDOWN">
				<annotation>
					<documentation>SYSTEM_SHUTDOWN</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SYSTEM_RELOAD_CONFIG">
				<annotation>
					<documentation>SYSTEM_RELOAD_CONFIG</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="attachmentDescription">
		<annotation>
			<documentation>Attachement description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="avmCommandId">
		<annotation>
			<documentation>AVM Command Id</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="avmCommandParam">
		<annotation>
			<documentation>AVM Command Parameter</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="cwOrderStamp">
		<annotation>
			<documentation>System order stamp</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="datetime">
		<annotation>
			<documentation>old Datetime</documentation>
		</annotation>
		<restriction base="cwf:dateTimeSec">
		</restriction>
	</simpleType>

	<simpleType name="dbEnumCode">
		<annotation>
			<documentation>DB Enumeration Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="dbEnumDescription">
		<annotation>
			<documentation>DB Enumeration Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="dbEnumType">
		<annotation>
			<documentation>DB Enumeration Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="dueDate">
		<annotation>
			<documentation>Due date</documentation>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="emailAddress">
		<annotation>
			<documentation>Email Address</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="favoriteSearchCriteria">
		<annotation>
			<documentation>Favorite Search Criteria</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="kindOfOrder">
		<annotation>
			<documentation>Kind of Order</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="1">
				<annotation>
					<documentation>Order</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Change Order</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="logTransactionId">
		<annotation>
			<documentation>Transaction ID</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nodeFinderRef">
		<annotation>
			<documentation>Node Finder Ref</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="orderByColumns">
		<annotation>
			<documentation>Order By Columns</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="orderId">
		<annotation>
			<documentation>Order ID</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="orderPhase">
		<annotation>
			<documentation>Order Phase</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="1">
				<annotation>
					<documentation>In Entry</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>In Progress</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Completed</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="owner">
		<annotation>
			<documentation>Owner</documentation>
		</annotation>
		<restriction base="cwf:userId">
		</restriction>
	</simpleType>

	<simpleType name="parentOrder">
		<annotation>
			<documentation>Parent Order</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="processId">
		<annotation>
			<documentation>Process</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="productCode">
		<annotation>
			<documentation>Product Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="productNo">
		<annotation>
			<documentation>Product number</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="projectName">
		<annotation>
			<documentation>Project Name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="projectStatus">
		<annotation>
			<documentation>Project Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="1">
				<annotation>
					<documentation>New</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>In Progress</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Completed</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="resultColumns">
		<annotation>
			<documentation>Result Columns</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="state2">
		<annotation>
			<documentation>State 2</documentation>
		</annotation>
		<restriction base="cwf:state">
		</restriction>
	</simpleType>

	<simpleType name="status">
		<annotation>
			<documentation>Order Validation Status</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
			<enumeration value="I">
				<annotation>
					<documentation>Incomplete</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation>Valid (No Messages)</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation>System Problem</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>Informational/Warning Messages</documentation>
				</annotation>
			</enumeration>
			<enumeration value="X">
				<annotation>
					<documentation>In Error</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string128">
		<annotation>
			<documentation>string128</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="string4000">
		<annotation>
			<documentation>string4000</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="sysNoteField">
		<annotation>
			<documentation>New Note</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="sysNoteList">
		<annotation>
			<documentation>Notes</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="translationID">
		<annotation>
			<documentation>Translation ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="translationText">
		<annotation>
			<documentation>Translation Text</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="userData">
		<annotation>
			<documentation>User Data</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="visualKey">
		<annotation>
			<documentation>Order Visual Key</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<!-- Documents -->

	<complexType name="AVMCommand">
		<annotation>
			<documentation>AVM Command</documentation>
		</annotation>
			<sequence>
				<element name="SERVERID" type="cwf_oe:SERVERID"/>
				<element name="NODE_ID" type="cwf_oe:NodeId"/>
				<element name="commandId" type="cwf_oe:avmCommandId"/>
				<element name="commandts" type="cwf:dateTimeSec"/>
				<element name="param1" type="cwf_oe:avmCommandParam"/>
				<element name="param21" type="cwf_oe:avmCommandParam"/>
			</sequence>
		</complexType>

	<complexType name="AttachmentSearch">
		<annotation>
			<documentation>Attachment Search</documentation>
		</annotation>
			<sequence>
				<element name="DOCID" type="cwf_oe:DOCID"/>
				<element name="DOCMETADATATYPE" type="cwf_oe:DOCMETADATATYPE"/>
				<element name="TOPORDERID" type="cwf_oe:TOPORDERID"/>
				<element name="TOPORDERMETADATATYPE" type="cwf_oe:TOPORDERMETADATATYPE"/>
			</sequence>
		</complexType>

	<complexType name="CWDOCATTACHMENT">
		<annotation>
			<documentation>AttachmentDoc</documentation>
		</annotation>
			<sequence>
				<element name="DOCID" type="cwf_oe:DOCID"/>
				<element name="DOCMETADATATYPE" type="cwf_oe:DOCMETADATATYPE"/>
				<element name="TOPORDERID" type="cwf_oe:TOPORDERID"/>
				<element name="TOPORDERMETADATATYPE" type="cwf_oe:TOPORDERMETADATATYPE"/>
				<element name="VISUALKEY" type="cwf_oe:attachmentDescription"/>
				<element name="ORIGINALFILESPEC" type="cwf_oe:ORIGINALFILESPEC"/>
				<element name="MIMETYPE" type="cwf_oe:MIMETYPE"/>
				<element name="NOTES4000" type="cwf_oe:NOTES"/>
				<element name="CREATIONDATE" type="xsd:dateTime"/>
				<element name="CREATIONUSER" type="cwf:userId"/>
				<element name="NOTES" type="xsd:string"/>
				<element name="NEW_NOTES" type="cwf_oe:NewNotes"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="MODIFIEDON" type="cwf:dateTimeMin"/>
			</sequence>
		</complexType>

	<complexType name="CWDOCNOTE">
		<annotation>
			<documentation>Note Doc</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="attachedDocID" type="cwf_oe:DOCID"/>
				<element name="attachedDocType" type="cwf_oe:DOCMETADATATYPE"/>
				<element name="attachedOrderID" type="cwf_oe:TOPORDERID"/>
				<element name="filename" type="cwf_oe:ORIGINALFILESPEC"/>
				<element name="mimeType" type="cwf_oe:MIMETYPE"/>
				<element name="notes" type="cwf_oe:NOTES"/>
				<element name="cwCreatedBy" type="cwf_up:createdByRef"/>
				<element name="cwCreated" type="cwf:cwCreated"/>
			</sequence>
		</complexType>

	<complexType name="CWMAXUSERS">
		<annotation>
			<documentation>Maximum Users Document</documentation>
		</annotation>
			<sequence>
				<element name="CDATE" type="cwf:date"/>
				<element name="MAXLOGINUSER" type="cwf_oe:MAXLOGINUSER"/>
				<element name="MAXGUESTUSER" type="cwf_oe:MAXGUESTUSER"/>
			</sequence>
		</complexType>

	<complexType name="CWPROCESSEVENTLOG">
		<annotation>
			<documentation>Event Log Document</documentation>
		</annotation>
			<sequence>
				<element name="EventID" type="cwf_oe:EventID"/>
				<element name="METADATA_VER" type="cwf:metadataVer"/>
				<element name="EVENT_SOURCE" type="cwf_oe:EVENT_SOURCE"/>
				<element name="EVENT_SEVERITY" type="cwf_oe:EVENT_SEVERITY"/>
				<element name="EVENT_CODE" type="cwf_oe:EVENT_CODE"/>
				<element name="EVENT_TIME" type="xsd:dateTime"/>
				<element name="DESCRIPTION" type="cwf_oe:DESCRIPTION"/>
				<element name="USER_ID" type="cwf:userId"/>
				<element name="METADATA_TYPE" type="cwf:metadataId"/>
				<element name="OBJECT_ID" type="cwf_oe:OBJECT_ID"/>
				<element name="EXTERNAL_CODE" type="cwf_oe:EXTERNAL_CODE"/>
				<element name="EXTERNAL_TYPE" type="cwf_oe:EXTERNAL_TYPE"/>
				<element name="QUALIFIED_NAME" type="cwf_oe:QUALIFIED_NAME"/>
				<element name="STACK_TRACE" type="cwf_oe:STACK_TRACE"/>
				<element name="logTransactionId" type="cwf_oe:logTransactionId"/>
				<element name="NodeId" type="cwf_oe:NodeId"/>
				<element name="SERVERID" type="cwf_oe:SERVERID"/>
			</sequence>
		</complexType>

	<complexType name="DatabaseEnumerationsDocument">
		<annotation>
			<documentation>Database Enumerations Document</documentation>
		</annotation>
			<sequence>
				<element name="dbEnumCode" type="cwf_oe:dbEnumCode"/>
				<element name="dbEnumType" type="cwf_oe:dbEnumType"/>
				<element name="dbEnumDescription" type="cwf_oe:dbEnumDescription"/>
				<element name="active" type="cwf_oe:active"/>
				<element name="language" type="cwf:languages"/>
				<element name="privilege" type="cwf:privilege"/>
			</sequence>
		</complexType>

	<complexType name="EVENTLOGSEARCH">
		<annotation>
			<documentation>Event Log Search</documentation>
		</annotation>
			<sequence>
				<element name="EventID" type="cwf_oe:EventID"/>
				<element name="METADATA_VER" type="xsd:integer"/>
				<element name="EVENT_SOURCE" type="cwf_oe:EVENT_SOURCE"/>
				<element name="EVENT_SEVERITY" type="cwf_oe:EVENT_SEVERITY"/>
				<element name="EVENT_CODE" type="cwf_oe:EVENT_CODE"/>
				<element name="EVENT_TIME" type="xsd:dateTime"/>
				<element name="EVENT_TIME2" type="xsd:dateTime"/>
				<element name="USER_ID" type="cwf:userIdRef"/>
				<element name="SERVERID" type="cwf_oe:NodeId"/>
				<element name="logTransactionId" type="cwf_oe:logTransactionId"/>
				<element name="METADATA_TYPE" type="cwf:metadataId"/>
				<element name="EXTERNAL_CODE" type="cwf_oe:EXTERNAL_CODE"/>
				<element name="OBJECT_ID" type="cwf_pm:ProcessId"/>
				<element name="OBJECT_ID_STR" type="cwf_oe:OBJECT_ID"/>
			</sequence>
		</complexType>

	<complexType name="FavColSearchDoc">
		<annotation>
			<documentation>Fav Col Search Doc</documentation>
		</annotation>
			<sequence>
				<element name="favoriteID" type="cwf:docId"/>
			</sequence>
		</complexType>

	<complexType name="Favorite">
		<annotation>
			<documentation>Favorite</documentation>
			<appinfo>
				<help>&lt;p&gt;
  Don&#39;t change the leafs&#39; order of the document. It is hard coded in AVM -
  RTFinder view
&lt;/p&gt;</help>
			</appinfo>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="favoriteLabel" type="cwf_oe:FavoriteLabel"/>
				<element name="finderName" type="cwf:metadataId"/>
				<element name="searchCriteria" type="cwf_oe:favoriteSearchCriteria"/>
				<element name="userID" type="cwf:userId"/>
				<element name="resultColumns" type="cwf_oe:resultColumns"/>
				<element name="orderByColumns" type="cwf_oe:orderByColumns"/>
				<element name="shared" type="xsd:boolean"/>
				<element name="formName" type="cwf:metadataId"/>
				<element name="maxFinderRows" type="cwf_oe:MaxFinderRows"/>
				<element name="applicationName" type="cwf:metadataId"/>
				<element name="menuPath" type="cwf:metadataId"/>
				<element name="userData" type="cwf_oe:userData"/>
				<element name="defaultValue" type="xsd:boolean"/>
				<element name="showSearchForm" type="xsd:boolean"/>
				<element name="runQueryOnStart" type="xsd:boolean"/>
				<element name="SearchForm" type="cwf:metadataId"/>
				<element name="modifyFlag" type="cwf_up:Integer9"/>
				<element name="defaultChanged" type="xsd:boolean"/>
				<element name="app_name" type="cwf:cwAppName"/>
			</sequence>
		</complexType>

	<complexType name="FavoriteSearch">
		<annotation>
			<documentation>Favorite Search</documentation>
		</annotation>
			<sequence>
				<element name="userID" type="cwf:userId"/>
				<element name="userData" type="cwf_oe:userData"/>
				<element name="finderName" type="cwf:metadataId"/>
				<element name="favoriteLabel" type="cwf_oe:FavoriteLabel"/>
				<element name="applicationName" type="cwf:metadataId"/>
				<element name="menuPath" type="cwf:metadataId"/>
			</sequence>
		</complexType>

	<complexType name="FileAttachment">
		<annotation>
			<documentation>Attach/Replace File</documentation>
		</annotation>
			<sequence>
				<element name="filename" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="OptionalItemSelect">
		<annotation>
			<documentation>Select Optional Item</documentation>
		</annotation>
			<sequence>
				<element name="optionalItems" type="cwf:optionalItems"/>
			</sequence>
		</complexType>

	<complexType name="OrderInstanceSearch">
		<annotation>
			<documentation>Order Instance Search</documentation>
		</annotation>
			<sequence>
				<element name="orderId" type="cwf_oe:OrderIdNonRef"/>
				<element name="metadataType" type="cwf:orderMetaId"/>
				<element name="state" type="cwf:allStates"/>
				<element name="processId" type="cwf_pm:ProcessId"/>
				<element name="createdBy" type="cwf:userIdRef"/>
				<element name="creationDateGT" type="cwf:dateTimeSec"/>
				<element name="creationDateLT" type="cwf:dateTimeSec"/>
				<element name="updatedBy" type="cwf:userIdRef"/>
				<element name="updateDateGT" type="cwf:dateTimeSec"/>
				<element name="updateDateLT" type="cwf:dateTimeSec"/>
			</sequence>
		</complexType>

	<complexType name="Project">
		<annotation>
			<documentation>Project</documentation>
		</annotation>
			<sequence>
				<element name="projectName" type="cwf_oe:projectName"/>
				<element name="projectStatus" type="cwf_oe:projectStatus"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="ResultColumnDoc">
		<annotation>
			<documentation>Result Column Doc</documentation>
		</annotation>
			<sequence>
				<element name="columnName" type="cwf:metadataId"/>
				<element name="columnLabel" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="ResultColumnSearchDoc">
		<annotation>
			<documentation>Result Column Search Doc</documentation>
		</annotation>
			<sequence>
				<element name="metadataDocument" type="xsd:string"/>
				<element name="metadataForm" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="SelectApp">
		<annotation>
			<documentation>Select Application</documentation>
		</annotation>
			<sequence>
				<element name="appName" type="cwf:applicationNames"/>
			</sequence>
		</complexType>

	<complexType name="String">
		<annotation>
			<documentation>String</documentation>
		</annotation>
			<sequence>
				<element name="string" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="actionLogDocument">
		<annotation>
			<documentation>actionLogDocument</documentation>
		</annotation>
			<sequence>
				<element name="userId" type="cwf:userId"/>
				<element name="nodeId" type="cwf_oe:NodeId"/>
				<element name="actionName" type="cwf_oe:string128"/>
				<element name="time" type="cwf:dateTimeSec"/>
				<element name="category" type="cwf_oe:string128"/>
				<element name="context" type="cwf_oe:string4000"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="from" type="xsd:dateTime"/>
				<element name="to" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="confirm">
		<annotation>
			<documentation>Confirm</documentation>
		</annotation>
			<sequence>
				<element name="confirmValue" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="count">
		<annotation>
			<documentation>Count</documentation>
		</annotation>
			<sequence>
				<element name="count" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="cwfAsyncRequest">
		<annotation>
			<documentation>Async Request</documentation>
		</annotation>
			<sequence>
				<element name="cwfProgressIndicator" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="cwmaxusersSearch">
		<annotation>
			<documentation>Maximum Users Search</documentation>
		</annotation>
			<sequence>
				<element name="startDate" type="cwf:date"/>
				<element name="endDate" type="cwf:date"/>
			</sequence>
		</complexType>

	<complexType name="emailEventLog">
		<annotation>
			<documentation>Email Selected Event Log Items</documentation>
		</annotation>
			<sequence>
				<element name="emailAddress" type="cwf_oe:emailAddress"/>
				<element name="emailSubject" type="cwf_oe:EmailSubject"/>
			</sequence>
		</complexType>

	<complexType name="error">
		<annotation>
			<documentation>Error</documentation>
		</annotation>
			<sequence>
				<element name="errorValue" type="xsd:boolean"/>
			</sequence>
		</complexType>

	<complexType name="info">
		<annotation>
			<documentation>Framework Information</documentation>
		</annotation>
			<sequence>
				<element name="version" type="xsd:string"/>
				<element name="testMode" type="xsd:boolean"/>
				<element name="sessionTimeout" type="cwf_up:Integer9"/>
				<element name="configFile" type="xsd:string"/>
				<element name="metadataHost" type="xsd:string"/>
				<element name="metadataLabel" type="xsd:string"/>
				<element name="metadataName" type="xsd:string"/>
				<element name="metadataTimestamp" type="xsd:string"/>
				<element name="metadataVersionNumber" type="cwf_up:Integer9"/>
				<element name="licensedTo" type="xsd:string"/>
				<element name="licensedOE" type="xsd:boolean"/>
				<element name="licensedPM" type="xsd:boolean"/>
				<element name="licensedEval" type="xsd:boolean"/>
				<element name="licenseExpires" type="cwf:date"/>
				<element name="licensedUsers" type="cwf_up:Integer9"/>
				<element name="licensedProcEngines" type="cwf_up:Integer9"/>
				<element name="licensedDesigner" type="xsd:boolean"/>
				<element name="licensedProcessDesigner" type="xsd:boolean"/>
				<element name="servers" type="cwf_up:Integer9"/>
				<element name="loginUsers" type="cwf_up:Integer9"/>
				<element name="guestUsers" type="cwf_up:Integer9"/>
				<element name="weeklyErrorEventCount" type="cwf_up:Integer9"/>
				<element name="maxLoginUsers" type="cwf_up:Integer9"/>
				<element name="maxGuestUsers" type="cwf_up:Integer9"/>
				<element name="activatedVersion" type="xsd:string"/>
				<element name="activatedDate" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="libVersion">
		<annotation>
			<documentation>Library Version</documentation>
		</annotation>
			<sequence>
				<element name="library" type="xsd:string"/>
				<element name="version" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="licenseViolation">
		<annotation>
			<documentation>License Violation</documentation>
		</annotation>
			<sequence>
				<element name="monthYear" type="xsd:string"/>
				<element name="violationDays" type="cwf_oe:MAXLOGINUSER"/>
			</sequence>
		</complexType>

	<complexType name="licensedUsers">
		<annotation>
			<documentation>Licensed Users</documentation>
		</annotation>
			<sequence>
				<element name="licensedUsers" type="cwf_up:Integer9"/>
			</sequence>
		</complexType>

	<complexType name="login">
		<annotation>
			<documentation>Login</documentation>
		</annotation>
			<sequence>
				<element name="userId" type="cwf:userId"/>
				<element name="openidName" type="cwf:openIdName"/>
				<element name="Password" type="cwf_oe:Password"/>
			</sequence>
		</complexType>

	<complexType name="logout">
		<annotation>
			<documentation>logout</documentation>
		</annotation>
			<complexContent>
				<extension base="cwf_oe:login">
					<sequence>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="mappingForProductProperties">
		<annotation>
			<documentation>Mapping for product properties</documentation>
		</annotation>
			<sequence>
				<element name="EXTERNAL_CODE" type="cwf_oe:PRODUCTPRO_ID"/>
				<element name="productNo" type="cwf_oe:productNo"/>
				<element name="EXTERNAL_TYPE" type="cwf_oe:EXTERNAL_TYPE"/>
			</sequence>
		</complexType>

	<complexType name="translation">
		<annotation>
			<documentation>Translation</documentation>
		</annotation>
			<sequence>
				<element name="id" type="cwf_oe:translationID"/>
				<element name="language" type="cwf:languages"/>
				<element name="translationText" type="cwf_oe:translationText"/>
				<element name="readOnly" type="xsd:boolean"/>
			</sequence>
		</complexType>

</schema>
